Bridge Broker Cookie/Node-red/Flows/Database Sync.json
[
    {
        "id": "3898444197398905",
        "type": "tab",
        "label": "Data Base Sync",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7a21dce38340ab3f",
        "type": "function",
        "z": "3898444197398905",
        "name": "Prepare query for DeviceProfile Table to sync",
        "func": "// --- Step 1: Extract values from MQTT-in payload ---\nconst payload = msg.payload;\nconst deviceId = payload.device_id;\nconst deviceName = payload.device_name;\nconst macAddress1 = payload.mac_address_1 || \"00:00:00:00:00:00\";\nconst macAddress2 = payload.mac_address_2 || \"00:00:00:00:00:00\";\nconst isBroker = payload.is_broker || 0;\nconst authentication_status = payload.authentication_status;\nconst registrationTime = payload.registered_at || Math.floor(Date.now() / 1000);\n\n// --- Step 2: SQLCipher config ---\nconst dbPath = \"/etc/mosquitto/certs/update_database.db\";\nconst pragmaKey = env.get(\"DB_PASSWORD\");\n\n// --- Step 3: Get self device ID from global context ---\nconst selfDeviceID = global.get('deviceID', 'file');\n\n// --- Step 4: Prepare SQL query based on device ID match ---\nlet sqlQuery = \"\";\nif (deviceId === selfDeviceID) {\n    // Case 1: Device IDs match → INSERT only\n    sqlQuery = `\n    PRAGMA key = '${pragmaKey}';\n    INSERT INTO DeviceProfile (device_id, device_name, mac_address_1, mac_address_2, is_broker, authentication_status, registered_at) \n    VALUES ('${deviceId}', '${deviceName}', '${macAddress1}', '${macAddress2}', ${isBroker}, NULL, ${registrationTime});\n    `;\n} else {\n    // Case 2: Device IDs do not match → INSERT OR REPLACE\n    sqlQuery = `\n    PRAGMA key = '${pragmaKey}';\n    INSERT OR REPLACE INTO DeviceProfile (device_id, device_name, mac_address_1, mac_address_2, is_broker, authentication_status, registered_at) \n    VALUES ('${deviceId}', '${deviceName}', '${macAddress1}', '${macAddress2}', ${isBroker}, NULL, ${registrationTime});\n    `;\n}\n\n// --- Step 5: Set payload for exec ---\nmsg.payload = `sqlcipher ${dbPath} <<< \"${sqlQuery.trim()}\"`;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 220,
        "wires": [
            [
                "13d9cfced9bee942"
            ]
        ]
    },
    {
        "id": "b4f68784911376bf",
        "type": "exec",
        "z": "3898444197398905",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Sync DeviceProfile Table",
        "x": 1330,
        "y": 220,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "13d9cfced9bee942",
        "type": "delay",
        "z": "3898444197398905",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1020,
        "y": 220,
        "wires": [
            [
                "b4f68784911376bf"
            ]
        ]
    },
    {
        "id": "2115e7ba640d76ce",
        "type": "function",
        "z": "3898444197398905",
        "name": "Prepare query for Keys Table to sync",
        "func": "const fs = global.get(\"fs\");\n\nconst payload = msg.payload;\nconst deviceId = payload.device_id;\nconst publicKey = payload.public_key;\nconst devicename = payload.devicename;\n\nconst dbPath = \"/etc/mosquitto/certs/update_database.db\";\nconst pragmaKey = env.get(\"DB_PASSWORD\");\n\nconst publicKeyEscaped = publicKey.replace(/'/g, \"''\");\n\n// --- Extra: if this is Sunny, write the key to file ---\nif (devicename && devicename.toLowerCase() === \"sunny\") {\n    try {\n        const sunnyPath = \"/etc/mosquitto/certs/sunny-public-key.pem\";\n        fs.writeFileSync(sunnyPath, publicKey, \"utf8\");\n        node.warn(`✅ Sunny public key written to ${sunnyPath}`);\n    } catch (err) {\n        node.error(`❌ Failed to write Sunny public key: ${err.message}`);\n    }\n}\n\n// --- UPSERT query ---\nconst sqlUpsert = `\nPRAGMA key = '${pragmaKey}';\nUPDATE Keys\nSET public_key = '${publicKeyEscaped}'\nWHERE device_id = '${deviceId}';\n\nINSERT INTO Keys (device_id, public_key)\nSELECT '${deviceId}', '${publicKeyEscaped}'\nWHERE NOT EXISTS (\n    SELECT 1 FROM Keys WHERE device_id = '${deviceId}'\n);\n`;\n\nmsg.payload = `sqlcipher ${dbPath} <<< \"${sqlUpsert.trim()}\"`;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 380,
        "wires": [
            [
                "0dd668f0b54b4004"
            ]
        ]
    },
    {
        "id": "0dd668f0b54b4004",
        "type": "delay",
        "z": "3898444197398905",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 860,
        "y": 360,
        "wires": [
            [
                "9f6eb1b10c3173e5"
            ]
        ]
    },
    {
        "id": "9f6eb1b10c3173e5",
        "type": "exec",
        "z": "3898444197398905",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Sync Keys Table",
        "x": 1080,
        "y": 380,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "e122f546e9286c10",
        "type": "function",
        "z": "3898444197398905",
        "name": "Prepare query for authentication_satus to sync",
        "func": "const payload = msg.payload;\nconst deviceId = payload.device_id;\nconst authentication_status = payload.authentication_status;\n\nconst dbPath = \"/etc/mosquitto/certs/update_database.db\";\nconst pragmaKey = env.get(\"DB_PASSWORD\");\n\n\n\n// UPSERT workaround:\nconst sqlUpsert = `\nPRAGMA key = '${pragmaKey}';\nUPDATE DeviceProfile\nSET authentication_status = '${authentication_status}' \nWHERE device_id = '${deviceId}';\n`;\nmsg.payload = `sqlcipher ${dbPath} <<< \"${sqlUpsert.trim()}\"`;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 580,
        "wires": [
            [
                "1fdfe22691977b13"
            ]
        ]
    },
    {
        "id": "1fdfe22691977b13",
        "type": "exec",
        "z": "3898444197398905",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Sync Authentication Status Table",
        "x": 1100,
        "y": 580,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "3b8f18e72f91c363",
        "type": "mqtt in",
        "z": "3898444197398905",
        "name": "Sync Device Profile Table",
        "topic": "sync/data/device_profile",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "921750ee5d721dc5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 240,
        "wires": [
            [
                "7a21dce38340ab3f"
            ]
        ]
    },
    {
        "id": "3cd33464c0d7b38c",
        "type": "mqtt in",
        "z": "3898444197398905",
        "name": "Sync Keys Table",
        "topic": "sync/data/keys_",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "921750ee5d721dc5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 380,
        "wires": [
            [
                "2115e7ba640d76ce"
            ]
        ]
    },
    {
        "id": "953844aedbdb6bc8",
        "type": "comment",
        "z": "3898444197398905",
        "name": "Sync Device Profile Table Data of other Devices",
        "info": "",
        "x": 420,
        "y": 180,
        "wires": []
    },
    {
        "id": "87daafc5ba498cef",
        "type": "comment",
        "z": "3898444197398905",
        "name": "Sync Device Profile Table Data of other Devices",
        "info": "",
        "x": 420,
        "y": 340,
        "wires": []
    },
    {
        "id": "9f430fdbc3857eff",
        "type": "comment",
        "z": "3898444197398905",
        "name": "Sync Authentication Sataus of other Devices",
        "info": "",
        "x": 370,
        "y": 520,
        "wires": []
    },
    {
        "id": "bbc80c6dc36dbea0",
        "type": "comment",
        "z": "3898444197398905",
        "name": "MQTT Bridge Broker (Cookie)",
        "info": "",
        "x": 380,
        "y": 120,
        "wires": []
    },
    {
        "id": "26a7c5efe4331c3b",
        "type": "mqtt in",
        "z": "3898444197398905",
        "name": "Sync Authentication Status",
        "topic": "sync/database/deviceprofile/auth",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9cddc1bd885980b7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 580,
        "wires": [
            [
                "e122f546e9286c10",
                "794352a06b211c54"
            ]
        ]
    },
    {
        "id": "794352a06b211c54",
        "type": "debug",
        "z": "3898444197398905",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 660,
        "wires": []
    },
    {
        "id": "921750ee5d721dc5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.153.1",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9cddc1bd885980b7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.153.1",
        "port": "8883",
        "tls": "4e3e159d8e243951",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4e3e159d8e243951",
        "type": "tls-config",
        "name": "",
        "cert": "/etc/mosquitto/certs/cookie.pem",
        "key": "/etc/mosquitto/certs/cookie-key.pem",
        "ca": "/etc/mosquitto/certs/MQTTS.pem",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "cookie",
        "verifyservercert": true,
        "alpnprotocol": ""
    }
]