Client Bob/Node-red Flows/Mutual Authentication.json
[
    {
        "id": "7e7603d2e3d91251",
        "type": "tab",
        "label": "Mutual Authentication",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0eada98739575ec9",
        "type": "exec",
        "z": "7e7603d2e3d91251",
        "command": "termux-wifi-connectioninfo | grep ip",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Check Network",
        "x": 560,
        "y": 380,
        "wires": [
            [
                "c90b11d2d0bb6757"
            ],
            [],
            []
        ]
    },
    {
        "id": "d0b2235295adf989",
        "type": "function",
        "z": "7e7603d2e3d91251",
        "name": "Get JWT",
        "func": "const fs = global.get('fs');\nconst crypto = global.get('crypto');\n\n// === Step 0: Debug the raw result from SQLCipher ===\n//node.warn(\"🗃️ Raw SQLCipher Output: \" + msg.payload);\n\n// === Step 1: Clean up leading status output and split ===\nlet cleaned = msg.payload.trim()\n    .split('\\n')                             // Split by lines\n    .filter(line => line.includes('|'))      // Keep only lines with expected delimiter\n    .map(line => line.trim())[0];            // Take the first valid line\n\nif (!cleaned) {\n    node.error(\"❌ No valid 'device_id|jwt_token' line found.\");\n    return null;\n}\n\n// === Step 2: Parse device_id and jwt_token ===\nconst parts = cleaned.split('|');\nif (parts.length !== 2) {\n    node.error(\"❌ Payload is not in expected 'device_id|jwt_token' format.\");\n    return null;\n}\n\nlet [device_id, jwt_token] = parts.map(p => p.trim());\n\n// === Step 3: Validate parsed values ===\nif (!device_id || !jwt_token) {\n    node.error(\"❌ Missing device_id or jwt_token in result.\");\n    return null;\n}\n\n// === Step 4: Create string to sign ===\nconst dataToSign = `${device_id}|${jwt_token}`;\n\n// === Step 5: Load private key from global context ===\nlet privateKeyPEM = global.get(\"private_key\", \"file\");\nif (!privateKeyPEM) {\n    node.error(\"❌ Private key not found in global context!\");\n    return null;\n}\n\n// === Step 6: Sign the data using ECDSA (SHA-256) ===\nconst signer = crypto.createSign('sha256');\nsigner.update(dataToSign);\nsigner.end();\nconst signature = signer.sign(privateKeyPEM, 'base64');\n\n// === Step 7: Get SSID from flow context ===\nconst wifi_SSID = flow.get('wifi_ssid') || \"UNKNOWN\";\nnode.status({ fill: \"green\", shape: \"dot\", text: `SSID: ${wifi_SSID}` });\n\n// === Step 8: Build output payload ===\nmsg.payload = {\n    device_id: device_id,\n    jwt: jwt_token,\n    signature: signature,\n    wifi_SSID: wifi_SSID\n};\n\n//node.warn(\"✅ Final signed payload: \" + JSON.stringify(msg.payload));\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 300,
        "wires": [
            [
                "994de7fd03f24036"
            ]
        ]
    },
    {
        "id": "c90b11d2d0bb6757",
        "type": "function",
        "z": "7e7603d2e3d91251",
        "name": "Prepare Query to select JWT ",
        "func": "// === 1. Extract IP from partial JSON string ===\nlet raw = msg.payload.trim();\n\n// Try to extract IP using regex\nlet ipMatch = raw.match(/\"ip\"\\s*:\\s*\"(\\d+\\.\\d+\\.\\d+\\.\\d+)\"/);\nif (!ipMatch) {\n    node.status({ fill: \"red\", shape: \"ring\", text: \"IP not found\" });\n    return null;\n}\n\nlet ip = ipMatch[1];  // Extracted IP string\nlet ssid = \"\";\n\n// === 2. Map IP subnet to SSID ===\nif (/^192\\.168\\.151\\./.test(ip)) {\n    ssid = \"Network-01\";\n} else if (/^192\\.168\\.152\\./.test(ip)) {\n    ssid = \"Network-02\";\n} else if (/^192\\.168\\.153\\./.test(ip)) {\n    ssid = \"Network-A\";\n} else if (/^192\\.168\\.154\\./.test(ip)) {\n    ssid = \"Network-B\";\n} else {\n    ssid = \"Unknown\";\n}\n\nflow.set('wifi_ssid', ssid);\nnode.status({ fill: \"green\", shape: \"dot\", text: \"Connected to SSID: \" + ssid });\n// === 2. Get deviceID from global context with retries ===\nlet deviceID;\nlet attempts = 0;\n\nwhile (!deviceID && attempts < 5) {\n    deviceID = global.get(\"deviceID\", \"file\");\n    if (!deviceID) {\n        node.warn(\"Retrying retrieval of deviceID...\");\n        attempts++;\n        const waitUntil = Date.now() + 200;\n        while (Date.now() < waitUntil); // busy-wait 200ms\n    }\n}\n\nif (!deviceID) {\n    node.error(\"Device ID still not found in global context!\");\n    return null;\n}\n\n// === 3. Prepare SQL query for sqlcipher ===\nconst dbPath = \"/data/data/com.termux/files/home/.node-red/update_database.db\";\nconst pragmaKey = env.get(\"DB_PASSWORD\");\n\n// Escape quotes in deviceID to avoid SQL injection\ndeviceID = deviceID.replace(/'/g, \"''\");\n\n// Build SQLCipher SELECT command for DeviceProfile table\nconst sqlSelect = `\nPRAGMA key = '${pragmaKey}';\nSELECT device_id, jwt_token FROM DeviceProfile WHERE device_id = '${deviceID}';\n`;\n\nmsg.payload = `echo \"${sqlSelect.trim()}\" | sqlcipher ${dbPath}`;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 380,
        "wires": [
            [
                "c34d5f65350230ee"
            ]
        ]
    },
    {
        "id": "7f5af7a28e370f0c",
        "type": "mqtt out",
        "z": "7e7603d2e3d91251",
        "name": "Authentication Request to Sunny",
        "topic": "authentication/request/bob",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1dbac324dcb7ed48",
        "x": 1900,
        "y": 260,
        "wires": []
    },
    {
        "id": "c34d5f65350230ee",
        "type": "exec",
        "z": "7e7603d2e3d91251",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Select JWT Token",
        "x": 1050,
        "y": 380,
        "wires": [
            [
                "d0b2235295adf989"
            ],
            [],
            []
        ]
    },
    {
        "id": "6de5be5a44a67dcc",
        "type": "mqtt in",
        "z": "7e7603d2e3d91251",
        "name": "Authentication Respond",
        "topic": "authentication/respond/bob",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "1dbac324dcb7ed48",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 640,
        "wires": [
            [
                "303ae1172320edea"
            ]
        ]
    },
    {
        "id": "1dda291129a2b107",
        "type": "exec",
        "z": "7e7603d2e3d91251",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Update authentication status and select public key",
        "x": 1210,
        "y": 660,
        "wires": [
            [
                "b978958f2b393e95"
            ],
            [],
            []
        ]
    },
    {
        "id": "994de7fd03f24036",
        "type": "switch",
        "z": "7e7603d2e3d91251",
        "name": "Send MQTTS payload according to SSID connected",
        "property": "payload.wifi_SSID",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Network-01",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Network-02",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Network-A",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Network-B",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1520,
        "y": 300,
        "wires": [
            [
                "7f5af7a28e370f0c"
            ],
            [
                "7f5af7a28e370f0c"
            ],
            [
                "59aa68ae5b61f6c3"
            ],
            [
                "9f8067e47304fc1c"
            ]
        ]
    },
    {
        "id": "08fd48dc652bf168",
        "type": "comment",
        "z": "7e7603d2e3d91251",
        "name": "Publish JWT to host device to authenticate",
        "info": "",
        "x": 400,
        "y": 280,
        "wires": []
    },
    {
        "id": "b978958f2b393e95",
        "type": "function",
        "z": "7e7603d2e3d91251",
        "name": "Verify Signature/ JWT and prepare query to update authentication status",
        "func": "const fs = global.get('fs');\nconst crypto = global.get('crypto');\nconst jwt = global.get('jwt');\n\n// --- Step 1: Setup ---\nconst deviceName = msg.device_name;\nconst deviceID = flow.get('deviceID');\nconst dataToVerify = flow.get('dataToVerify');\nconst signature = flow.get('signature');\nconst token = flow.get('jwt');\n\nconst dbPath = \"/data/data/com.termux/files/home/.node-red/update_database.db\";\nconst pragmaKey = env.get(\"DB_PASSWORD\");\n\nlet authenticationStatus = \"\";  // Will be set dynamically\n\n// --- Step 2: Clean Termux output and extract PEM public key ---\nlet raw = (msg.payload ?? \"\").toString().trim();\n\n// remove surrounding quotes if any\nif (raw.startsWith('\"') && raw.endsWith('\"')) raw = raw.slice(1, -1);\n\n// convert literal \"\\n\" to newlines (Termux/echo cases)\nraw = raw.replace(/\\\\r/g, '\\n').replace(/\\\\n/g, '\\n').replace(/\\r/g, '\\n');\n\n// extract only the PEM block\nconst m = raw.match(/-----BEGIN PUBLIC KEY-----[\\s\\S]*?-----END PUBLIC KEY-----/);\nif (!m) {\n    node.error(\"❌ Could not find a valid PEM public key in payload.\");\n    authenticationStatus = \"Signature fail\";\n} else {\n    const publicKey = m[0].trim();\n\n    try {\n        const verifier = crypto.createVerify('sha256');\n        verifier.update(dataToVerify);\n        verifier.end();\n        const isValid = verifier.verify(publicKey, signature, 'base64');\n\n        if (!isValid) {\n            node.warn(\"❌ Signature verification failed.\");\n            authenticationStatus = \"Signature fail\";\n        } else {\n            node.warn(\"✅ Signature verification successful.\");\n\n            // --- Step 3: Verify JWT using Sunny's public key from file + enforce ≤45 min lifetime ---\n            try {\n                const sunnyPublicKeyPath = \"/data/data/com.termux/files/home/.node-red/certs/sunny-public-key.pem\";\n                const sunnyPublicKey = fs.readFileSync(sunnyPublicKeyPath, 'utf8');\n\n                const decodedJWT = jwt.verify(token, sunnyPublicKey, { algorithms: ['ES256'] });\n\n                const iat = Number(decodedJWT.iat || 0);\n                const exp = Number(decodedJWT.exp || 0);\n                const lifetime = exp - iat;\n\n                if (!iat || !exp || lifetime <= 0 || lifetime > 2700) {\n                    node.warn(\"❌ JWT invalid window (must be ≤ 2700s).\");\n                    authenticationStatus = \"JWT fail\";\n                } else if (decodedJWT.device_id !== deviceID) {\n                    node.warn(\"❌ JWT device ID mismatch.\");\n                    authenticationStatus = \"JWT fail\";\n                } else {\n                    node.warn(\"✅ JWT verification successful (≤45 min).\");\n                    authenticationStatus = \"OK\";\n                }\n            } catch (jwtErr) {\n                node.warn(\"❌ JWT verification failed: \" + jwtErr.message);\n                authenticationStatus = \"JWT fail\";\n            }\n        }\n    } catch (sigErr) {\n        node.error(\"❌ Signature verification error: \" + sigErr.message);\n        authenticationStatus = \"Signature fail\";\n    }\n}\n\n// --- Step 4: Save status in flow ---\nflow.set('authentication_status', authenticationStatus);\n\n// --- Step 5: Prepare SQL update only ---\nconst updateSQL = `\nPRAGMA key = '${pragmaKey}';\nUPDATE DeviceProfile \nSET authentication_status = '${authenticationStatus}' \nWHERE device_id = '${deviceID}';\n`;\n\nmsg.payload = `echo \"${updateSQL.trim()}\" | sqlcipher ${dbPath}`;\n\nnode.warn(`📌 authentication_status = \"${authenticationStatus}\" set for device_id: ${deviceID}`);\nconst wifi_SSID = flow.get('wifi_ssid');\nmsg.mqtt_payload = {\n    device_id: deviceID,\n    wifi_SSID: wifi_SSID,\n    authentication_status: authenticationStatus\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1700,
        "y": 660,
        "wires": [
            [
                "40ff23165714f65e",
                "f25232f013ec8f06"
            ]
        ]
    },
    {
        "id": "40ff23165714f65e",
        "type": "exec",
        "z": "7e7603d2e3d91251",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Update Authentication Status",
        "x": 2120,
        "y": 680,
        "wires": [
            [
                "0d1a7fee0a6359b2"
            ],
            [],
            []
        ]
    },
    {
        "id": "9b90069704ceae37",
        "type": "mqtt in",
        "z": "7e7603d2e3d91251",
        "name": "Authentication Respond",
        "topic": "authentication/respond/bob",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "9cddc1bd885980b7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 380,
        "y": 740,
        "wires": [
            [
                "303ae1172320edea"
            ]
        ]
    },
    {
        "id": "303ae1172320edea",
        "type": "function",
        "z": "7e7603d2e3d91251",
        "name": "Save MQTT payload in flow and prepare query to update authentication status to select the public-key",
        "func": "// --- Step 1: Extract payload from MQTT topic ---\nlet topicParts = msg.topic.split(\"/\");\nmsg.device_name = topicParts[2];  // Extract device name from topic\n\n// --- Step 2: Extract values from MQTT payload ---\nconst deviceID = msg.payload.device_id;\nconst token = msg.payload.jwt;\nconst signature = msg.payload.signature;\nconst authentication_status= msg.payload.authentication_status\n// --- Retrieve self device_id from global context ---\nconst selfDeviceID = global.get(\"deviceID\", \"file\");\n\n// --- Step 3: Validate payload ---\nif (!deviceID || !token || !signature || !authentication_status) {\n    node.error(\"❌ Missing required payload values: device_id, jwt, or signature or authentication_status.\");\n    return null;\n}\n\n// --- Step 4: Store values in flow context (do NOT save wifi_SSID) ---\nflow.set('deviceID', deviceID);\nflow.set('jwt', token);\nflow.set('signature', signature);\n\n// --- Step 5: Construct data to verify and store it ---\nconst dataToVerify = `${deviceID}|${token}`;\nflow.set('dataToVerify', dataToVerify);\n\n// --- Step 6: Prepare SQLCipher query to retrieve public_key from DeviceProfile ---\nconst dbPath = \"/data/data/com.termux/files/home/.node-red/update_database.db\";\nconst pragmaKey = env.get(\"DB_PASSWORD\");\n\n// Sanitize deviceID for SQL\nconst safeDeviceID = deviceID.replace(/'/g, \"''\");\nconst updateSQL = `\nPRAGMA key = '${pragmaKey}';\nUPDATE DeviceProfile \nSET authentication_status = '${authentication_status}' \nWHERE device_id = '${selfDeviceID}';\n`;\nconst sqlQuery = `\nPRAGMA key = '${pragmaKey}';\nSELECT public_key FROM Keys WHERE device_id = '${safeDeviceID}';\n`;\n\nmsg.payload = `echo \"${sqlQuery.trim()} ${updateSQL.trim()}\" | sqlcipher ${dbPath}`;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 560,
        "wires": [
            [
                "1dda291129a2b107"
            ]
        ]
    },
    {
        "id": "0d1a7fee0a6359b2",
        "type": "function",
        "z": "7e7603d2e3d91251",
        "name": "Prepare MQTT payload for authentication respond-ack",
        "func": "// ✅ Step 1: Get device name\nconst deviceName = msg.device_name;\nconst deviceID = flow.get('deviceID');\nconst authentication_status = flow.get('authentication_status');\nmsg.topic = `authentication/respond_ack/${deviceName}`;\n// === Step 7: Get SSID from flow context ===\nconst wifi_SSID = flow.get('wifi_ssid') || \"UNKNOWN\";\nnode.status({ fill: \"green\", shape: \"dot\", text: `SSID: ${wifi_SSID}` });\n\n// --- Step 5: Prepare MQTT payload ---\nmsg.payload = {\n    device_id: deviceID,\n     wifi_SSID: wifi_SSID,\n    authentication_status: authentication_status\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2460,
        "y": 640,
        "wires": [
            [
                "94343ad648b19ed2"
            ]
        ]
    },
    {
        "id": "a4a26c9c87783c91",
        "type": "mqtt out",
        "z": "7e7603d2e3d91251",
        "name": "Authentication Ack to Sunny",
        "topic": "",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1dbac324dcb7ed48",
        "x": 3100,
        "y": 560,
        "wires": []
    },
    {
        "id": "b9a1e10a0d1189b2",
        "type": "mqtt out",
        "z": "7e7603d2e3d91251",
        "name": "Authentication Ack to Cookie",
        "topic": "",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcc9581fb1cd01fb",
        "x": 3360,
        "y": 640,
        "wires": []
    },
    {
        "id": "5565e848f59bf6c6",
        "type": "comment",
        "z": "7e7603d2e3d91251",
        "name": "Do mutal authencation for host device and update authentication status in database",
        "info": "",
        "x": 530,
        "y": 480,
        "wires": []
    },
    {
        "id": "f25232f013ec8f06",
        "type": "change",
        "z": "7e7603d2e3d91251",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.mqtt_payload",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1740,
        "y": 540,
        "wires": [
            [
                "52d913e9ec5cba20"
            ]
        ]
    },
    {
        "id": "77caef7b1af6679a",
        "type": "mqtt out",
        "z": "7e7603d2e3d91251",
        "name": "Sync Authentication Status",
        "topic": "sync/database/deviceprofile/auth",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b724a5515717df88",
        "x": 2720,
        "y": 580,
        "wires": []
    },
    {
        "id": "59aa68ae5b61f6c3",
        "type": "mqtt out",
        "z": "7e7603d2e3d91251",
        "name": "Authentication Request to Cookie",
        "topic": "authentication/request/bob",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcc9581fb1cd01fb",
        "x": 1980,
        "y": 320,
        "wires": []
    },
    {
        "id": "9f8067e47304fc1c",
        "type": "mqtt out",
        "z": "7e7603d2e3d91251",
        "name": "Authentication Request to Cake",
        "topic": "authentication/request/bob",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d7e23934af9f8ad1",
        "x": 1850,
        "y": 400,
        "wires": []
    },
    {
        "id": "4c194a62bac83ce5",
        "type": "mqtt in",
        "z": "7e7603d2e3d91251",
        "name": "Authentication Respond",
        "topic": "authentication/respond/bob",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "d7e23934af9f8ad1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 540,
        "wires": [
            [
                "303ae1172320edea"
            ]
        ]
    },
    {
        "id": "4c73bbdd0bf98f1c",
        "type": "mqtt out",
        "z": "7e7603d2e3d91251",
        "name": "Authentication Ack to Cake",
        "topic": "",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b724a5515717df88",
        "x": 2820,
        "y": 740,
        "wires": []
    },
    {
        "id": "96e67dd9ba6b6366",
        "type": "delay",
        "z": "7e7603d2e3d91251",
        "name": "",
        "pauseType": "delay",
        "timeout": "20",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2460,
        "y": 580,
        "wires": [
            [
                "77caef7b1af6679a"
            ]
        ]
    },
    {
        "id": "28b3fe9bd36d3fc3",
        "type": "inject",
        "z": "7e7603d2e3d91251",
        "name": "Authentication Timer",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": "60",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "4098f0e6d8dfffda",
        "type": "comment",
        "z": "7e7603d2e3d91251",
        "name": "MQTT Client (BOB)",
        "info": "",
        "x": 350,
        "y": 220,
        "wires": []
    },
    {
        "id": "0b496591b394ce60",
        "type": "inject",
        "z": "7e7603d2e3d91251",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 950,
        "y": 840,
        "wires": [
            [
                "4be849ed8e54f34d"
            ]
        ]
    },
    {
        "id": "4be849ed8e54f34d",
        "type": "mqtt out",
        "z": "7e7603d2e3d91251",
        "name": "heartbeat",
        "topic": "devices/bob/heartbeat",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "873502a2020d1559",
        "x": 1240,
        "y": 820,
        "wires": []
    },
    {
        "id": "52d913e9ec5cba20",
        "type": "switch",
        "z": "7e7603d2e3d91251",
        "name": "Send MQTTS payload according to SSID connected",
        "property": "payload.wifi_SSID",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Network-01",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Network-02",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Network-A",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Network-B",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 2080,
        "y": 540,
        "wires": [
            [
                "2c10204c720b1a8c"
            ],
            [
                "2c10204c720b1a8c"
            ],
            [
                "78dc2495e991f190"
            ],
            [
                "96e67dd9ba6b6366"
            ]
        ]
    },
    {
        "id": "264002d22a328fb8",
        "type": "mqtt out",
        "z": "7e7603d2e3d91251",
        "name": "Sync Authentication Status",
        "topic": "sync/database/deviceprofile/auth",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fcc9581fb1cd01fb",
        "x": 2620,
        "y": 520,
        "wires": []
    },
    {
        "id": "1cda75174b867a7c",
        "type": "mqtt out",
        "z": "7e7603d2e3d91251",
        "name": "Sync Authentication Status",
        "topic": "sync/database/deviceprofile/auth",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1dbac324dcb7ed48",
        "x": 2600,
        "y": 420,
        "wires": []
    },
    {
        "id": "2c10204c720b1a8c",
        "type": "delay",
        "z": "7e7603d2e3d91251",
        "name": "",
        "pauseType": "delay",
        "timeout": "20",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2300,
        "y": 420,
        "wires": [
            [
                "1cda75174b867a7c"
            ]
        ]
    },
    {
        "id": "78dc2495e991f190",
        "type": "delay",
        "z": "7e7603d2e3d91251",
        "name": "",
        "pauseType": "delay",
        "timeout": "20",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2420,
        "y": 520,
        "wires": [
            [
                "264002d22a328fb8"
            ]
        ]
    },
    {
        "id": "94343ad648b19ed2",
        "type": "switch",
        "z": "7e7603d2e3d91251",
        "name": "Send MQTTS payload according to SSID connected",
        "property": "payload.wifi_SSID",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Hop_01",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Hop_02",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Hop_03",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Hop_04",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 2940,
        "y": 660,
        "wires": [
            [
                "a4a26c9c87783c91"
            ],
            [
                "a4a26c9c87783c91"
            ],
            [
                "b9a1e10a0d1189b2"
            ],
            [
                "4c73bbdd0bf98f1c"
            ]
        ]
    },
    {
        "id": "1dbac324dcb7ed48",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.151.1",
        "port": "8883",
        "tls": "39cd027928eb4a94",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9cddc1bd885980b7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.153.1",
        "port": "8883",
        "tls": "4e3e159d8e243951",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "fcc9581fb1cd01fb",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.153.1",
        "port": "8883",
        "tls": "2a0ac1241fc34ca9",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b724a5515717df88",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.154.1",
        "port": "8883",
        "tls": "d9f4fcfdc2a69ffa",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d7e23934af9f8ad1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.154.1",
        "port": "8883",
        "tls": "f9d2c83bebecb3ef",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "verifyservercert": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "873502a2020d1559",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.151.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "39cd027928eb4a94",
        "type": "tls-config",
        "name": "",
        "cert": "/data/data/com.termux/files/home/.node-red/certs/bob.pem",
        "key": "/data/data/com.termux/files/home/.node-red/certs/bob-key.pem",
        "ca": "/data/data/com.termux/files/home/.node-red/certs/MQTTS.pem",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "sunny",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "4e3e159d8e243951",
        "type": "tls-config",
        "name": "",
        "cert": "/data/data/com.termux/files/home/.node-red/certs/bob.pem",
        "key": "/data/data/com.termux/files/home/.node-red/certs/bob-key.pem",
        "ca": "/data/data/com.termux/files/home/.node-red/certs/MQTTS.pem",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "cookie",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "2a0ac1241fc34ca9",
        "type": "tls-config",
        "name": "",
        "cert": "/data/data/com.termux/files/home/.node-red/certs/bob.pem",
        "key": "/data/data/com.termux/files/home/.node-red/certs/bob-key.pem",
        "ca": "/data/data/com.termux/files/home/.node-red/certs/MQTTS.pem",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "cookie",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "d9f4fcfdc2a69ffa",
        "type": "tls-config",
        "name": "",
        "cert": "/data/data/com.termux/files/home/.node-red/certs/bob.pem",
        "key": "/data/data/com.termux/files/home/.node-red/certs/bob-key.pem",
        "ca": "/data/data/com.termux/files/home/.node-red/certs/MQTTS.pem",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "cake",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "f9d2c83bebecb3ef",
        "type": "tls-config",
        "name": "",
        "cert": "/data/data/com.termux/files/home/.node-red/certs/bob.pem",
        "key": "/data/data/com.termux/files/home/.node-red/certs/bob-key.pem",
        "ca": "/data/data/com.termux/files/home/.node-red/certs/MQTTS.pem",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "cake",
        "verifyservercert": true,
        "alpnprotocol": ""
    }
]