Client Bob/Node-red Flows/Rotation and Revocation.json
[
    {
        "id": "36ca247585c410c8",
        "type": "tab",
        "label": " Rotation and Revocation",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d177fbf8bdb336d3",
        "type": "mqtt in",
        "z": "36ca247585c410c8",
        "name": "Revoke MQTTS",
        "topic": "revoke/MQTTS/bob",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "d7e23934af9f8ad1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 460,
        "wires": [
            [
                "28d00c77fb73398c"
            ]
        ]
    },
    {
        "id": "28d00c77fb73398c",
        "type": "function",
        "z": "36ca247585c410c8",
        "name": "Prepare bootstrap to trust CA",
        "func": "const fs = global.get('fs');\nconst caUrl = msg.payload.ca_url;\nconst fp    = msg.payload.fingerprint;\nconst prov_pass = msg.payload.prov_pass;\nconst MQTTS_CA_Certificate = msg.payload.MQTTS_CA_Certificate;\nconst MQTTScertFilePath = \"/data/data/com.termux/files/home/.node-red/certs/MQTTS.pem\";\nfs.writeFileSync(MQTTScertFilePath, MQTTS_CA_Certificate, 'utf8');\nconst prov_pass_path = \"/data/data/com.termux/files/home/.node-red/certs/provisioner_password\";\nfs.writeFileSync(prov_pass_path, prov_pass, 'utf8');\nif (!caUrl || !fp) {\n  node.error('Missing ca_url or fingerprint in Payload');\n  return null;\n}\n\n// One single line, no line breaks:\nmsg.payload = `step ca bootstrap --ca-url \"${caUrl}\" --fingerprint \"${fp}\" --force`;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 420,
        "wires": [
            [
                "c57a1515c5ba23aa"
            ]
        ]
    },
    {
        "id": "c57a1515c5ba23aa",
        "type": "exec",
        "z": "36ca247585c410c8",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Trust CA",
        "x": 700,
        "y": 440,
        "wires": [
            [
                "e9d7e37610086b02"
            ],
            [],
            []
        ]
    },
    {
        "id": "e9d7e37610086b02",
        "type": "function",
        "z": "36ca247585c410c8",
        "name": "Prepare to create MQTTS key and certificate",
        "func": "const fs = global.get('fs');\n\n// --- Step 1: File paths ---\nconst certPath = '/data/data/com.termux/files/home/.node-red/certs/bob.pem';\nconst keyPath = '/data/data/com.termux/files/home/.node-red/certs/bob-key.pem';\nconst provPassFile = '/data/data/com.termux/files/home/.node-red/certs/provisioner_password';\n\n// --- Step 2: Prepare step-ca command for Exec node ---\nmsg.payload = `step ca certificate bob \\\n${certPath} \\\n${keyPath} \\\n--provisioner \"Admin JWK\" \\\n--provisioner-password-file ${provPassFile} \\\n--force`;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 440,
        "wires": [
            [
                "1f0cf2e3f2b7a536"
            ]
        ]
    },
    {
        "id": "1f0cf2e3f2b7a536",
        "type": "exec",
        "z": "36ca247585c410c8",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Create MQTTS key and cerificate",
        "x": 1360,
        "y": 420,
        "wires": [
            [
                "2e0d0a755d37b1de"
            ],
            [],
            []
        ]
    },
    {
        "id": "cb83114f3c2d1534",
        "type": "mqtt in",
        "z": "36ca247585c410c8",
        "name": "Renew ECC keys",
        "topic": "renew/ECC/bob",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "d7e23934af9f8ad1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 640,
        "wires": [
            [
                "051ab022a8fb3e6e"
            ]
        ]
    },
    {
        "id": "051ab022a8fb3e6e",
        "type": "function",
        "z": "36ca247585c410c8",
        "name": "Match ID",
        "func": "// === Step 1: Get stored device_id from global ===\nconst storedDeviceId = global.get(\"deviceID\", \"file\");   // from global.set(..., 'file')\n\n// === Step 2: Get incoming device_id ===\nconst incomingDeviceId = msg.payload.device_id;\n\n// === Step 3: Compare ===\nif (storedDeviceId && incomingDeviceId && storedDeviceId === incomingDeviceId) {\n    // ✅ IDs match\n    const deviceName = msg.payload.device_name || \"unknown\";\n    flow.set('deviceName', deviceName);\n    const privateKeyPath = `/data/data/com.termux/files/home/.node-red/certs/${deviceName}-private-key.pem`;\n\n    // Exec node needs plain string\n    msg.payload = `openssl ecparam -genkey -name prime256v1 -out ${privateKeyPath}`;\n\n    return msg;\n} else {\n    node.warn(`❌ Device ID mismatch! Stored=${storedDeviceId}, Incoming=${incomingDeviceId}`);\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 620,
        "wires": [
            [
                "08d4dd4f2f07edf9"
            ]
        ]
    },
    {
        "id": "08d4dd4f2f07edf9",
        "type": "exec",
        "z": "36ca247585c410c8",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Bob private key creation",
        "x": 750,
        "y": 640,
        "wires": [
            [
                "1e0f641c3305bc1b"
            ],
            [],
            []
        ]
    },
    {
        "id": "7d0d8df1145b5132",
        "type": "exec",
        "z": "36ca247585c410c8",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Insert Data Into Keys Table",
        "x": 1700,
        "y": 540,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "684c824642d6e485",
        "type": "change",
        "z": "36ca247585c410c8",
        "name": "Set MQTTS Payload to sync database",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.mqtt_payload",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1670,
        "y": 660,
        "wires": [
            [
                "bf11702fb2e768b7"
            ]
        ]
    },
    {
        "id": "bf11702fb2e768b7",
        "type": "mqtt out",
        "z": "36ca247585c410c8",
        "name": "Sync Keys Table",
        "topic": "sync/data/keys_",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "56aa58dc871c111d",
        "x": 1950,
        "y": 640,
        "wires": []
    },
    {
        "id": "8d1478a688df2a11",
        "type": "function",
        "z": "36ca247585c410c8",
        "name": "Read keys and prepare data for Keys Table",
        "func": "// --- Simple combined function ---\n// 1) Read files -> put in global\n// 2) Build SQL -> put string cmd into msg.payload\n\nconst fs = global.get('fs');\nif (!fs) { node.error(\"fs not found in global (set with global.set('fs', require('fs')) )\"); return null; }\n\nconst dbPath     = \"/data/data/com.termux/files/home/.node-red/update_database.db\";\nconst pragmaKey  = env.get(\"DB_PASSWORD\");\nif (!pragmaKey) { node.error(\"DB_PASSWORD env not set\"); return null; }\n\n// === Paths ===\nconst publicKeyPath  = \"/data/data/com.termux/files/home/.node-red/certs/bob-public-key.pem\";\nconst privateKeyPath = \"/data/data/com.termux/files/home/.node-red/certs/bob-private-key.pem\";\nconst secretKeyPath = \"/data/data/com.termux/files/home/.node-red/certs/bob-registration-secret-key.bin\";\n\n// --- Step 1: Read PEMs and store to global ---\nlet publicKey, privateKey;\ntry {\n  publicKey  = fs.readFileSync(publicKeyPath, 'utf8').trim();\n  privateKey = fs.readFileSync(privateKeyPath, 'utf8').trim();\n} catch (e) {\n  node.error(\"Read PEM failed: \" + e.message);\n  return null;\n}\nglobal.set(\"public_key\",  publicKey,  \"file\");\nglobal.set(\"private_key\", privateKey, \"file\");\n\n// --- Step 2: Get deviceID (already set elsewhere) ---\nconst deviceID = global.get(\"deviceID\", \"file\");\nif (!deviceID) { node.error(\"deviceID not found in global context\"); return null; }\n\n// --- Step 3: Read registration secret (binary) ---\nlet secretBuf;\ntry {\n  secretBuf = fs.readFileSync(secretKeyPath);  // raw binary\n} catch (e) {\n  node.error(\"Read registration secret failed: \" + e.message);\n  return null;\n}\nconst secretHex = secretBuf.toString('hex');\n\n// --- Step 4: Build SQL (escape single quotes in PEMs) ---\nconst esc = s => s.replace(/'/g, \"''\");\nconst sql = `\nPRAGMA key='${pragmaKey}';\nINSERT OR REPLACE INTO Keys (device_id, private_key, public_key, registration_key)\nVALUES ('${esc(deviceID)}', '${esc(privateKey)}', '${esc(publicKey)}', X'${secretHex}');\n`.trim();\nconst deviceName=flow.get('deviceName');\n// --- Step 5: Prepare exec command (must be a plain string) ---\nmsg.payload = `echo \"${sql.trim()}\" | sqlcipher ${dbPath}`;\n\n// (Optional) also attach MQTT payload\nmsg.mqtt_payload = {\n    device_id: deviceID,\n    devicename:deviceName,\n    public_key: publicKey\n    // Optionally, use Base64 instead: secretKeyBuffer.toString('base64')\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 560,
        "wires": [
            [
                "7d0d8df1145b5132",
                "684c824642d6e485"
            ]
        ]
    },
    {
        "id": "1e0f641c3305bc1b",
        "type": "exec",
        "z": "36ca247585c410c8",
        "command": "openssl ec -in /data/data/com.termux/files/home/.node-red/certs/bob-private-key.pem -pubout -out /data/data/com.termux/files/home/.node-red/certs/bob-public-key.pem",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Create BOB Public Key ",
        "x": 1050,
        "y": 640,
        "wires": [
            [
                "8d1478a688df2a11"
            ],
            [],
            []
        ]
    },
    {
        "id": "894acdee3ee4712e",
        "type": "inject",
        "z": "36ca247585c410c8",
        "name": "Renew JWT",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 980,
        "wires": [
            [
                "3fc6ec8261ede46a"
            ]
        ]
    },
    {
        "id": "3fc6ec8261ede46a",
        "type": "function",
        "z": "36ca247585c410c8",
        "name": "Prepare to Select JWT",
        "func": "const dbPath = \"/data/data/com.termux/files/home/.node-red/update_database.db\";\nconst pragmaKey = env.get(\"DB_PASSWORD\");\n\n// --- Step 1: Get deviceID from global context ---\nlet deviceID = global.get(\"deviceID\", \"file\");\nif (!deviceID) {\n    node.error(\"❌ deviceID not found in global context.\");\n    return null;\n}\n\n// --- Step 2: Escape single quotes ---\ndeviceID = deviceID.replace(/'/g, \"''\");\n\n// --- Step 3: Build SELECT query (only jwt_token) ---\nconst sqlSelect = `\nPRAGMA key = '${pragmaKey}';\nSELECT jwt_token \nFROM DeviceProfile \nWHERE device_id = '${deviceID}';\n`;\n\n// --- Step 4: Send command to exec node ---\nmsg.payload = `echo \"${sqlSelect.trim()}\" | sqlcipher ${dbPath}`;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 940,
        "wires": [
            [
                "146b7d23fb16f4b2"
            ]
        ]
    },
    {
        "id": "146b7d23fb16f4b2",
        "type": "exec",
        "z": "36ca247585c410c8",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Select JWT",
        "x": 730,
        "y": 920,
        "wires": [
            [
                "db1d3e29617b0a2e"
            ],
            [],
            []
        ]
    },
    {
        "id": "db1d3e29617b0a2e",
        "type": "function",
        "z": "36ca247585c410c8",
        "name": "Validate JWT expire",
        "func": "// Input: msg.payload = raw string from Termux, e.g. 'ok\\n\"eyJhbGciOi...\"\\n'\n// Output (when ttl < 60): msg.payload = { device_id, jwt }\n\nconst deviceID = global.get(\"deviceID\", \"file\");\nif (!deviceID) { node.error(\"deviceID not found in global context\"); return null; }\n\n// 1) Grab raw output and extract clean JWT (remove 'ok', quotes, newlines)\nconst raw = (msg.payload ?? \"\").toString();\n\n// robustly find a JWT-looking string header.payload.signature\nconst m = raw.match(/[A-Za-z0-9\\-_]+\\.[A-Za-z0-9\\-_]+\\.[A-Za-z0-9\\-_]+/);\nif (!m) { node.error(\"No JWT found in payload\"); return null; }\n\nconst token = m[0]; // clean JWT\n\n// 2) Decode payload (no signature verify) to read iat/exp\nfunction b64urlToJson(b64u) {\n  const b64 = b64u.replace(/-/g, '+').replace(/_/g, '/');\n  const pad = (4 - (b64.length % 4)) % 4;\n  return JSON.parse(Buffer.from(b64 + \"=\".repeat(pad), \"base64\").toString(\"utf8\"));\n}\n\ntry {\n  const parts = token.split(\".\");\n  if (parts.length < 2) { node.error(\"Malformed JWT\"); return null; }\n  const claims = b64urlToJson(parts[1]);\n\n  const now = Math.floor(Date.now() / 1000);\n  const iat = Number(claims.iat || 0);\n  const exp = Number(claims.exp || 0);\n  const ttl = Math.max(0, exp - now);\n\n  if (!iat || !exp) { node.error(\"JWT missing iat/exp\"); return null; }\n\n  if (ttl < 60) {\n    // need refresh -> pass device_id and CLEAN token forward (for MQTT publish)\n    msg.payload = { device_id: deviceID, jwt: token };\n    return msg;\n  } else {\n    node.warn(`jwt is still valid (ttl_seconds=${ttl})`);\n    return null;\n  }\n} catch (e) {\n  node.error(\"Failed to decode JWT: \" + e.message);\n  return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 920,
        "wires": [
            [
                "756ebe5b0f49c4d6"
            ]
        ]
    },
    {
        "id": "756ebe5b0f49c4d6",
        "type": "mqtt out",
        "z": "36ca247585c410c8",
        "name": "Request to renew JWT",
        "topic": "renew/jwt/bob",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b724a5515717df88",
        "x": 1300,
        "y": 880,
        "wires": []
    },
    {
        "id": "fb7832139e884eef",
        "type": "mqtt in",
        "z": "36ca247585c410c8",
        "name": "Respond new JWT",
        "topic": "respond/jwt/bob",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b724a5515717df88",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 1100,
        "wires": [
            [
                "e79aae6629cc40ee"
            ]
        ]
    },
    {
        "id": "71683ed6c44f84cf",
        "type": "exec",
        "z": "36ca247585c410c8",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Update JWT",
        "x": 1030,
        "y": 1060,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "d29b357fb5420403",
        "type": "function",
        "z": "36ca247585c410c8",
        "name": "Step CA certificate renew",
        "func": "// Get CA URL from global context\nconst caUrl = global.get('ca_url', 'file');\nif (!caUrl) {\n    node.error('Missing ca_url in global context');\n    return null;\n}\n\n// Define file paths\nconst certPath = '/data/data/com.termux/files/home/.node-red/certs/bob.pem';\nconst keyPath = '/data/data/com.termux/files/home/.node-red/certs/bob-key.pem';\nconst rootCAPath = '/data/data/com.termux/files/home/.node-red/certs/MQTTS.pem';\n\n// Prepare command (single line)\nmsg.payload = `step ca renew ${certPath} ${keyPath} \\\n--daemon \\\n--exec \"systemctl kill -s HUP mosquitto || systemctl reload mosquitto\" \\\n--ca-url ${caUrl} \\\n--root ${rootCAPath}`;\n\nreturn msg;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 220,
        "wires": [
            [
                "581f1480bdb2cf72"
            ]
        ]
    },
    {
        "id": "581f1480bdb2cf72",
        "type": "exec",
        "z": "36ca247585c410c8",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "MQTTS renew",
        "x": 740,
        "y": 200,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "ac8b325caad9cd2b",
        "type": "link in",
        "z": "36ca247585c410c8",
        "name": "Trigger Renew Service",
        "links": [
            "2e0d0a755d37b1de",
            "456d692aeda7e859"
        ],
        "x": 155,
        "y": 300,
        "wires": [
            [
                "d29b357fb5420403"
            ]
        ]
    },
    {
        "id": "8a6b2815e7751e79",
        "type": "inject",
        "z": "36ca247585c410c8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 220,
        "wires": [
            [
                "d29b357fb5420403"
            ]
        ]
    },
    {
        "id": "bfdc32f21b8c5b22",
        "type": "mqtt in",
        "z": "36ca247585c410c8",
        "name": "Renew JWT",
        "topic": "renew/JWT/bob",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "d7e23934af9f8ad1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 900,
        "wires": [
            [
                "3fc6ec8261ede46a"
            ]
        ]
    },
    {
        "id": "b670c60751595ff6",
        "type": "comment",
        "z": "36ca247585c410c8",
        "name": "MQTT Client (BOB)",
        "info": "",
        "x": 170,
        "y": 80,
        "wires": []
    },
    {
        "id": "b00c0c220cedccd4",
        "type": "comment",
        "z": "36ca247585c410c8",
        "name": "Revoke MQTTS Certs and Key",
        "info": "",
        "x": 230,
        "y": 380,
        "wires": []
    },
    {
        "id": "51ec1751d83a021b",
        "type": "comment",
        "z": "36ca247585c410c8",
        "name": "Renew Keys",
        "info": "",
        "x": 170,
        "y": 580,
        "wires": []
    },
    {
        "id": "472b32daa5debce8",
        "type": "comment",
        "z": "36ca247585c410c8",
        "name": "Renew JWT",
        "info": "",
        "x": 190,
        "y": 840,
        "wires": []
    },
    {
        "id": "5ae12505e165371f",
        "type": "comment",
        "z": "36ca247585c410c8",
        "name": "Recieve new JWT",
        "info": "",
        "x": 190,
        "y": 1040,
        "wires": []
    },
    {
        "id": "a5dbe19667e2ed4e",
        "type": "comment",
        "z": "36ca247585c410c8",
        "name": "Renew MQTTS certificate",
        "info": "",
        "x": 190,
        "y": 140,
        "wires": []
    },
    {
        "id": "2e0d0a755d37b1de",
        "type": "link out",
        "z": "36ca247585c410c8",
        "name": "Renew service",
        "mode": "link",
        "links": [
            "ac8b325caad9cd2b"
        ],
        "x": 1585,
        "y": 400,
        "wires": []
    },
    {
        "id": "c6fd8ce14de5ea97",
        "type": "comment",
        "z": "36ca247585c410c8",
        "name": "MQTT Client (BOB)",
        "info": "",
        "x": 1950,
        "y": 700,
        "wires": []
    },
    {
        "id": "e79aae6629cc40ee",
        "type": "function",
        "z": "36ca247585c410c8",
        "name": "Validate JWT and prepare to update database",
        "func": "const fs        = global.get('fs');\nconst jwt       = global.get('jwt');\nconst crypto    = global.get('crypto');\n\nconst dbPath = \"/data/data/com.termux/files/home/.node-red/update_database.db\";\nconst pragmaKey = env.get(\"DB_PASSWORD\");\n\n// --- Step 1: Get incoming payload ---\nconst payload          = msg.payload || {};\nconst incomingDeviceId = payload.device_id;\nconst newJwt           = payload.jwt;\nconst signatureB64     = payload.jwt_sig_b64;    // expecting signature field\n\n// --- Step 2: Get stored deviceId ---\nlet storedDeviceId = global.get(\"deviceID\", \"file\");\nif (!storedDeviceId) {\n    node.error(\"❌ deviceID not found in global context\");\n    return null;\n}\n\n// --- Step 3: Compare IDs ---\nif (incomingDeviceId !== storedDeviceId) {\n    node.warn(`❌ Device ID mismatch. Incoming=${incomingDeviceId}, Stored=${storedDeviceId}`);\n    return null;\n}\n\n// --- Step 4: Verify signature over (device_id | jwt) ---\nif (!signatureB64) {\n    node.warn(\"❌ Missing jwt_sig_b64 in payload\");\n    return null;\n}\n\nlet sunnyPub;\ntry {\n    sunnyPub = fs.readFileSync(\"/data/data/com.termux/files/home/.node-red/certs/sunny-public-key.pem\", \"utf8\");\n} catch (e) {\n    node.error(\"❌ Unable to read sunny-public-key.pem: \" + e.message);\n    return null;\n}\n\nconst verify = crypto.createVerify(\"sha256\");\nverify.update(`${incomingDeviceId}|${newJwt}`);\nverify.end();\n\nlet sigOK;\ntry {\n    sigOK = verify.verify(sunnyPub, signatureB64, \"base64\");\n} catch (e) {\n    node.warn(\"❌ Signature verification error: \" + e.message);\n    return null;\n}\n\nif (!sigOK) {\n    node.warn(\"❌ Signature invalid for device_id and jwt.\");\n    return null;\n}\nnode.warn(`✅ Signature verified new JWT come from Sunny for device_id=${incomingDeviceId}`);\n\n// --- Step 5: Escape values for SQL ---\nconst esc = s => (s ?? \"\").toString().replace(/'/g, \"''\");\nconst sqlUpdate = `\nPRAGMA key='${pragmaKey}';\nUPDATE DeviceProfile\nSET jwt_token='${esc(newJwt)}'\nWHERE device_id='${esc(storedDeviceId)}';\n`.trim();\n\n// --- Step 6: Prepare exec payload ---\nmsg.payload = `echo \"${sqlUpdate.trim()}\" | sqlcipher ${dbPath}`;\n\nnode.warn(`✅ JWT updated for device_id: ${storedDeviceId}`);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 1060,
        "wires": [
            [
                "71683ed6c44f84cf"
            ]
        ]
    },
    {
        "id": "d7e23934af9f8ad1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.154.1",
        "port": "8883",
        "tls": "f9d2c83bebecb3ef",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "verifyservercert": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "56aa58dc871c111d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.154.1",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b724a5515717df88",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.154.1",
        "port": "8883",
        "tls": "d9f4fcfdc2a69ffa",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f9d2c83bebecb3ef",
        "type": "tls-config",
        "name": "",
        "cert": "/data/data/com.termux/files/home/.node-red/certs/bob.pem",
        "key": "/data/data/com.termux/files/home/.node-red/certs/bob-key.pem",
        "ca": "/data/data/com.termux/files/home/.node-red/certs/MQTTS.pem",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "cake",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "d9f4fcfdc2a69ffa",
        "type": "tls-config",
        "name": "",
        "cert": "/data/data/com.termux/files/home/.node-red/certs/bob.pem",
        "key": "/data/data/com.termux/files/home/.node-red/certs/bob-key.pem",
        "ca": "/data/data/com.termux/files/home/.node-red/certs/MQTTS.pem",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "cake",
        "verifyservercert": true,
        "alpnprotocol": ""
    }
]