Client Alice/Node-red/Flows/Baseline Data Transfer.json
[
    {
        "id": "2557f27f8fd510e2",
        "type": "tab",
        "label": "BaseLine Data Transfer",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "46ff310ed225d4b9",
        "type": "comment",
        "z": "2557f27f8fd510e2",
        "name": "with bridge Qos0",
        "info": "",
        "x": 140,
        "y": 1420,
        "wires": []
    },
    {
        "id": "27fce360a288e62c",
        "type": "comment",
        "z": "2557f27f8fd510e2",
        "name": "without bridge QOS1",
        "info": "",
        "x": 150,
        "y": 660,
        "wires": []
    },
    {
        "id": "419bd0f1618bdbd5",
        "type": "comment",
        "z": "2557f27f8fd510e2",
        "name": "without bridge QOS2",
        "info": "",
        "x": 170,
        "y": 1080,
        "wires": []
    },
    {
        "id": "f47e2c9435321611",
        "type": "mqtt out",
        "z": "2557f27f8fd510e2",
        "name": "Send data via Sunny",
        "topic": "alice/temp/qos1",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "873502a2020d1559",
        "x": 1040,
        "y": 800,
        "wires": []
    },
    {
        "id": "35e871e1bcfdf619",
        "type": "exec",
        "z": "2557f27f8fd510e2",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Trigger monitoring script (mosquitto)",
        "x": 1090,
        "y": 880,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "6267fdb1e713b98c",
        "type": "exec",
        "z": "2557f27f8fd510e2",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Trigger monitoring script (node-red)",
        "x": 1080,
        "y": 960,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "0d89d042f043e481",
        "type": "exec",
        "z": "2557f27f8fd510e2",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Trigger monitoring script (mosquitto)",
        "x": 1130,
        "y": 1240,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "e7145a03e3f9e331",
        "type": "exec",
        "z": "2557f27f8fd510e2",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Trigger monitoring script (node-red)",
        "x": 1140,
        "y": 1320,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "2fa676ae0ff1b703",
        "type": "exec",
        "z": "2557f27f8fd510e2",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Trigger monitoring script (mosquitto)",
        "x": 1210,
        "y": 1560,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "69ab63f76e6127d0",
        "type": "exec",
        "z": "2557f27f8fd510e2",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Trigger monitoring script (node-red)",
        "x": 1200,
        "y": 1700,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "16ed2c1b8a3ffb2e",
        "type": "mqtt out",
        "z": "2557f27f8fd510e2",
        "name": "Send data via Cookie",
        "topic": "home/alice/qos0",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "23d7aa02f5d504e9",
        "x": 1200,
        "y": 1440,
        "wires": []
    },
    {
        "id": "0f45209b4e2b05ff",
        "type": "mqtt out",
        "z": "2557f27f8fd510e2",
        "name": "Send data via Sunny",
        "topic": "alice/temp/qos2",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "873502a2020d1559",
        "x": 1100,
        "y": 1140,
        "wires": []
    },
    {
        "id": "cb976da2cdf3e834",
        "type": "inject",
        "z": "2557f27f8fd510e2",
        "name": "Start Run (QoS1, 100 msgs)",
        "props": [
            {
                "p": "data_payload",
                "v": "10",
                "vt": "str"
            },
            {
                "p": "run_id",
                "v": "",
                "vt": "date"
            },
            {
                "p": "run_tag",
                "v": "baseline_single_100",
                "vt": "str"
            },
            {
                "p": "mode",
                "v": "baseline",
                "vt": "str"
            },
            {
                "p": "path_class",
                "v": "single_broker",
                "vt": "str"
            },
            {
                "p": "mqtt_version",
                "v": "3.1.1",
                "vt": "str"
            },
            {
                "p": "qos",
                "v": "1",
                "vt": "num"
            },
            {
                "p": "rate_mps",
                "v": "1",
                "vt": "num"
            },
            {
                "p": "msg_count",
                "v": "100",
                "vt": "num"
            },
            {
                "p": "duration",
                "v": "100",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 180,
        "y": 760,
        "wires": [
            [
                "180d2cddfe3de112"
            ]
        ]
    },
    {
        "id": "47535f3d2c5a8501",
        "type": "inject",
        "z": "2557f27f8fd510e2",
        "name": "Start Run (QoS1, 200 msgs)",
        "props": [
            {
                "p": "data_payload",
                "v": "10",
                "vt": "str"
            },
            {
                "p": "run_id",
                "v": "",
                "vt": "date"
            },
            {
                "p": "run_tag",
                "v": "baseline_single_200",
                "vt": "str"
            },
            {
                "p": "mode",
                "v": "baseline",
                "vt": "str"
            },
            {
                "p": "path_class",
                "v": "single_broker",
                "vt": "str"
            },
            {
                "p": "mqtt_version",
                "v": "3.1.1",
                "vt": "str"
            },
            {
                "p": "qos",
                "v": "1",
                "vt": "num"
            },
            {
                "p": "rate_mps",
                "v": "1",
                "vt": "num"
            },
            {
                "p": "msg_count",
                "v": "200",
                "vt": "num"
            },
            {
                "p": "duration",
                "v": "200",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 180,
        "y": 860,
        "wires": [
            [
                "180d2cddfe3de112"
            ]
        ]
    },
    {
        "id": "129e4f556a8444d7",
        "type": "inject",
        "z": "2557f27f8fd510e2",
        "name": "Start Run (QoS1, 300 msgs)",
        "props": [
            {
                "p": "data_payload",
                "v": "10",
                "vt": "str"
            },
            {
                "p": "run_id",
                "v": "",
                "vt": "date"
            },
            {
                "p": "run_tag",
                "v": "baseline_single_300",
                "vt": "str"
            },
            {
                "p": "mode",
                "v": "baseline",
                "vt": "str"
            },
            {
                "p": "path_class",
                "v": "single_broker",
                "vt": "str"
            },
            {
                "p": "mqtt_version",
                "v": "3.1.1",
                "vt": "str"
            },
            {
                "p": "qos",
                "v": "1",
                "vt": "num"
            },
            {
                "p": "rate_mps",
                "v": "1",
                "vt": "num"
            },
            {
                "p": "msg_count",
                "v": "300",
                "vt": "num"
            },
            {
                "p": "duration",
                "v": "300",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 960,
        "wires": [
            [
                "180d2cddfe3de112"
            ]
        ]
    },
    {
        "id": "180d2cddfe3de112",
        "type": "function",
        "z": "2557f27f8fd510e2",
        "name": "Rate Scheduler + Timestamp + Script Trigger (dual service)",
        "func": "// Count-based scheduler for baseline data transfer\n//  - Sends exactly msg_count messages on topic 'alice/temp/qos0'\n//  - Each data message: {type:'data', data, seq, total, t_pub, ...meta}\n//  - Final control:       {type:'done', done:true, seq, total, ...meta}\n//  - Triggers monitor_sys_stats.sh <runTag> <proc> <qos> <mqtt_version> <duration>\n\nconst rate        = Number(msg.rate_mps || 0);          // for spacing + meta\nconst total       = Number(msg.msg_count || 0);          // total messages\nconst durationSec = Number(msg.duration || 0);           // nominal run duration (s)\n\nif (!Number.isFinite(total) || total <= 0) {\n  node.error(\"❌ Invalid msg_count (must be > 0)\");\n  return [null, null, null];\n}\n\nconst runId  = String(msg.run_id || Date.now());\nconst runTag = String(msg.run_tag || \"run\");\nconst topic  = \"alice/temp/qos0\";\nconst qos    = Number(msg.qos || 0);\n\n// Compute interval between messages\nlet everyMs;\nif (rate > 0) {\n  everyMs = Math.max(1, Math.floor(1000 / rate));\n} else if (durationSec > 0) {\n  everyMs = Math.max(1, Math.floor((durationSec * 1000) / total));\n} else {\n  everyMs = 1000; // fallback\n}\n\n// Effective duration used for monitors (seconds)\nconst effectiveDurationSec = durationSec > 0\n  ? durationSec\n  : Math.ceil((total * everyMs) / 1000);\n\n// --- Trigger monitoring scripts once at start ---\nconst qosArg   = String(qos);\nconst mqttArg  = String(msg.mqtt_version || \"\");\nconst durArg   = String(effectiveDurationSec);\nconst script   = \"/etc/mosquitto/perf_results/monitor_sys_stats.sh\";\n\nconst msgScript1 = { payload: `${script} ${runTag} mosquitto ${qosArg} ${mqttArg} ${durArg}` };\nconst msgScript2 = { payload: `${script} ${runTag} node-red  ${qosArg} ${mqttArg} ${durArg}` };\n\nnode.send([ null, msgScript1, msgScript2 ]);\n\n// --- Scheduler loop: send seq=1..total, then done ---\nlet seq   = 0;\nconst send = node.send.bind(node);\n\nconst tick = setInterval(() => {\n  if (seq >= total) {\n    clearInterval(tick);\n\n    const donePayload = {\n      type:        \"done\",\n      done:        true,\n      seq:         seq,\n      total:       total,\n      run_id:      runId,\n      run_tag:     runTag,\n      mode:        msg.mode,\n      path_class:  msg.path_class,\n      mqtt_version: msg.mqtt_version,\n      qos:         qos,\n      rate_mps:    rate,\n      msg_count:   total,\n      duration:    effectiveDurationSec\n    };\n\n    const outDone = {\n      topic:   topic,\n      payload: JSON.stringify(donePayload),\n      qos:     qos\n    };\n\n    send([ outDone, null, null ]);\n    node.status({ fill: \"green\", shape: \"dot\", text: `done ${seq} msgs` });\n    return;\n  }\n\n  seq += 1;\n  const now = Date.now();\n\n  const dataPayload = {\n    type:        \"data\",\n    data:        msg.data_payload,\n    seq:         seq,\n    total:       total,\n    t_pub:       now,\n    run_id:      runId,\n    run_tag:     runTag,\n    mode:        msg.mode,\n    path_class:  msg.path_class,\n    mqtt_version: msg.mqtt_version,\n    qos:         qos,\n    rate_mps:    rate,\n    msg_count:   total,\n    duration:    effectiveDurationSec\n  };\n\n  const outData = {\n    topic:   topic,\n    payload: JSON.stringify(dataPayload),\n    qos:     qos\n  };\n\n  send([ outData, null, null ]);\n}, everyMs);\n\nnode.status({\n  fill:  \"blue\",\n  shape: \"dot\",\n  text:  `${total} msgs @ ~${rate || (total / (effectiveDurationSec || 1))} msg/s`\n});\n\nreturn null;\n",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 880,
        "wires": [
            [
                "f47e2c9435321611"
            ],
            [
                "35e871e1bcfdf619"
            ],
            [
                "6267fdb1e713b98c"
            ]
        ]
    },
    {
        "id": "ad2037256de3235d",
        "type": "inject",
        "z": "2557f27f8fd510e2",
        "name": "Start Run (QoS2, 100 msgs)",
        "props": [
            {
                "p": "data_payload",
                "v": "20",
                "vt": "str"
            },
            {
                "p": "run_id",
                "v": "",
                "vt": "date"
            },
            {
                "p": "run_tag",
                "v": "baseline_single_100",
                "vt": "str"
            },
            {
                "p": "mode",
                "v": "baseline",
                "vt": "str"
            },
            {
                "p": "path_class",
                "v": "single_broker",
                "vt": "str"
            },
            {
                "p": "mqtt_version",
                "v": "3.1.1",
                "vt": "str"
            },
            {
                "p": "qos",
                "v": "2",
                "vt": "num"
            },
            {
                "p": "rate_mps",
                "v": "1",
                "vt": "num"
            },
            {
                "p": "msg_count",
                "v": "100",
                "vt": "num"
            },
            {
                "p": "duration",
                "v": "100",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 180,
        "y": 1160,
        "wires": [
            [
                "d3efa98b94ddf39a"
            ]
        ]
    },
    {
        "id": "e742ce8647657e22",
        "type": "inject",
        "z": "2557f27f8fd510e2",
        "name": "Start Run (QoS2, 200 msgs)",
        "props": [
            {
                "p": "data_payload",
                "v": "20",
                "vt": "str"
            },
            {
                "p": "run_id",
                "v": "",
                "vt": "date"
            },
            {
                "p": "run_tag",
                "v": "baseline_single_200",
                "vt": "str"
            },
            {
                "p": "mode",
                "v": "baseline",
                "vt": "str"
            },
            {
                "p": "path_class",
                "v": "single_broker",
                "vt": "str"
            },
            {
                "p": "mqtt_version",
                "v": "3.1.1",
                "vt": "str"
            },
            {
                "p": "qos",
                "v": "2",
                "vt": "num"
            },
            {
                "p": "rate_mps",
                "v": "1",
                "vt": "num"
            },
            {
                "p": "msg_count",
                "v": "200",
                "vt": "num"
            },
            {
                "p": "duration",
                "v": "200",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 180,
        "y": 1220,
        "wires": [
            [
                "d3efa98b94ddf39a"
            ]
        ]
    },
    {
        "id": "934a8228d2711fd1",
        "type": "inject",
        "z": "2557f27f8fd510e2",
        "name": "Start Run (QoS2, 300 msgs)",
        "props": [
            {
                "p": "data_payload",
                "v": "20",
                "vt": "str"
            },
            {
                "p": "run_id",
                "v": "",
                "vt": "date"
            },
            {
                "p": "run_tag",
                "v": "baseline_single_300",
                "vt": "str"
            },
            {
                "p": "mode",
                "v": "baseline",
                "vt": "str"
            },
            {
                "p": "path_class",
                "v": "single_broker",
                "vt": "str"
            },
            {
                "p": "mqtt_version",
                "v": "3.1.1",
                "vt": "str"
            },
            {
                "p": "qos",
                "v": "2",
                "vt": "num"
            },
            {
                "p": "rate_mps",
                "v": "1",
                "vt": "num"
            },
            {
                "p": "msg_count",
                "v": "300",
                "vt": "num"
            },
            {
                "p": "duration",
                "v": "300",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 1280,
        "wires": [
            [
                "d3efa98b94ddf39a"
            ]
        ]
    },
    {
        "id": "d3efa98b94ddf39a",
        "type": "function",
        "z": "2557f27f8fd510e2",
        "name": "Rate Scheduler + Timestamp + Script Trigger (dual service)",
        "func": "// Count-based scheduler for baseline data transfer\n//  - Sends exactly msg_count messages on topic 'alice/temp/qos0'\n//  - Each data message: {type:'data', data, seq, total, t_pub, ...meta}\n//  - Final control:       {type:'done', done:true, seq, total, ...meta}\n//  - Triggers monitor_sys_stats.sh <runTag> <proc> <qos> <mqtt_version> <duration>\n\nconst rate        = Number(msg.rate_mps || 0);          // for spacing + meta\nconst total       = Number(msg.msg_count || 0);          // total messages\nconst durationSec = Number(msg.duration || 0);           // nominal run duration (s)\n\nif (!Number.isFinite(total) || total <= 0) {\n  node.error(\"❌ Invalid msg_count (must be > 0)\");\n  return [null, null, null];\n}\n\nconst runId  = String(msg.run_id || Date.now());\nconst runTag = String(msg.run_tag || \"run\");\nconst topic  = \"alice/temp/qos0\";\nconst qos    = Number(msg.qos || 0);\n\n// Compute interval between messages\nlet everyMs;\nif (rate > 0) {\n  everyMs = Math.max(1, Math.floor(1000 / rate));\n} else if (durationSec > 0) {\n  everyMs = Math.max(1, Math.floor((durationSec * 1000) / total));\n} else {\n  everyMs = 1000; // fallback\n}\n\n// Effective duration used for monitors (seconds)\nconst effectiveDurationSec = durationSec > 0\n  ? durationSec\n  : Math.ceil((total * everyMs) / 1000);\n\n// --- Trigger monitoring scripts once at start ---\nconst qosArg   = String(qos);\nconst mqttArg  = String(msg.mqtt_version || \"\");\nconst durArg   = String(effectiveDurationSec);\nconst script   = \"/etc/mosquitto/perf_results/monitor_sys_stats.sh\";\n\nconst msgScript1 = { payload: `${script} ${runTag} mosquitto ${qosArg} ${mqttArg} ${durArg}` };\nconst msgScript2 = { payload: `${script} ${runTag} node-red  ${qosArg} ${mqttArg} ${durArg}` };\n\nnode.send([ null, msgScript1, msgScript2 ]);\n\n// --- Scheduler loop: send seq=1..total, then done ---\nlet seq   = 0;\nconst send = node.send.bind(node);\n\nconst tick = setInterval(() => {\n  if (seq >= total) {\n    clearInterval(tick);\n\n    const donePayload = {\n      type:        \"done\",\n      done:        true,\n      seq:         seq,\n      total:       total,\n      run_id:      runId,\n      run_tag:     runTag,\n      mode:        msg.mode,\n      path_class:  msg.path_class,\n      mqtt_version: msg.mqtt_version,\n      qos:         qos,\n      rate_mps:    rate,\n      msg_count:   total,\n      duration:    effectiveDurationSec\n    };\n\n    const outDone = {\n      topic:   topic,\n      payload: JSON.stringify(donePayload),\n      qos:     qos\n    };\n\n    send([ outDone, null, null ]);\n    node.status({ fill: \"green\", shape: \"dot\", text: `done ${seq} msgs` });\n    return;\n  }\n\n  seq += 1;\n  const now = Date.now();\n\n  const dataPayload = {\n    type:        \"data\",\n    data:        msg.data_payload,\n    seq:         seq,\n    total:       total,\n    t_pub:       now,\n    run_id:      runId,\n    run_tag:     runTag,\n    mode:        msg.mode,\n    path_class:  msg.path_class,\n    mqtt_version: msg.mqtt_version,\n    qos:         qos,\n    rate_mps:    rate,\n    msg_count:   total,\n    duration:    effectiveDurationSec\n  };\n\n  const outData = {\n    topic:   topic,\n    payload: JSON.stringify(dataPayload),\n    qos:     qos\n  };\n\n  send([ outData, null, null ]);\n}, everyMs);\n\nnode.status({\n  fill:  \"blue\",\n  shape: \"dot\",\n  text:  `${total} msgs @ ~${rate || (total / (effectiveDurationSec || 1))} msg/s`\n});\n\nreturn null;\n",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1240,
        "wires": [
            [
                "0f45209b4e2b05ff"
            ],
            [
                "0d89d042f043e481"
            ],
            [
                "e7145a03e3f9e331"
            ]
        ]
    },
    {
        "id": "2155d033e3208bcd",
        "type": "inject",
        "z": "2557f27f8fd510e2",
        "name": "Start Run (QoS0 100 msgs)",
        "props": [
            {
                "p": "data_payload",
                "v": "30",
                "vt": "str"
            },
            {
                "p": "run_id",
                "v": "",
                "vt": "date"
            },
            {
                "p": "run_tag",
                "v": "baseline_bridge_100",
                "vt": "str"
            },
            {
                "p": "mode",
                "v": "baseline",
                "vt": "str"
            },
            {
                "p": "path_class",
                "v": "bridge_broker",
                "vt": "str"
            },
            {
                "p": "mqtt_version",
                "v": "3.1.1",
                "vt": "str"
            },
            {
                "p": "qos",
                "v": "0",
                "vt": "num"
            },
            {
                "p": "rate_mps",
                "v": "1",
                "vt": "num"
            },
            {
                "p": "msg_count",
                "v": "100",
                "vt": "num"
            },
            {
                "p": "duration",
                "v": "100",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 1540,
        "wires": [
            [
                "f07d0fe957ba16db"
            ]
        ]
    },
    {
        "id": "f07d0fe957ba16db",
        "type": "function",
        "z": "2557f27f8fd510e2",
        "name": "Rate Scheduler + Timestamp + Script Trigger (dual service)",
        "func": "// Count-based scheduler for baseline data transfer\n//  - Sends exactly msg_count messages on topic 'alice/temp/qos0'\n//  - Each data message: {type:'data', data, seq, total, t_pub, ...meta}\n//  - Final control:       {type:'done', done:true, seq, total, ...meta}\n//  - Triggers monitor_sys_stats.sh <runTag> <proc> <qos> <mqtt_version> <duration>\n\nconst rate        = Number(msg.rate_mps || 0);          // for spacing + meta\nconst total       = Number(msg.msg_count || 0);          // total messages\nconst durationSec = Number(msg.duration || 0);           // nominal run duration (s)\n\nif (!Number.isFinite(total) || total <= 0) {\n  node.error(\"❌ Invalid msg_count (must be > 0)\");\n  return [null, null, null];\n}\n\nconst runId  = String(msg.run_id || Date.now());\nconst runTag = String(msg.run_tag || \"run\");\nconst topic  = \"alice/temp/qos0\";\nconst qos    = Number(msg.qos || 0);\n\n// Compute interval between messages\nlet everyMs;\nif (rate > 0) {\n  everyMs = Math.max(1, Math.floor(1000 / rate));\n} else if (durationSec > 0) {\n  everyMs = Math.max(1, Math.floor((durationSec * 1000) / total));\n} else {\n  everyMs = 1000; // fallback\n}\n\n// Effective duration used for monitors (seconds)\nconst effectiveDurationSec = durationSec > 0\n  ? durationSec\n  : Math.ceil((total * everyMs) / 1000);\n\n// --- Trigger monitoring scripts once at start ---\nconst qosArg   = String(qos);\nconst mqttArg  = String(msg.mqtt_version || \"\");\nconst durArg   = String(effectiveDurationSec);\nconst script   = \"/etc/mosquitto/perf_results/monitor_sys_stats.sh\";\n\nconst msgScript1 = { payload: `${script} ${runTag} mosquitto ${qosArg} ${mqttArg} ${durArg}` };\nconst msgScript2 = { payload: `${script} ${runTag} node-red  ${qosArg} ${mqttArg} ${durArg}` };\n\nnode.send([ null, msgScript1, msgScript2 ]);\n\n// --- Scheduler loop: send seq=1..total, then done ---\nlet seq   = 0;\nconst send = node.send.bind(node);\n\nconst tick = setInterval(() => {\n  if (seq >= total) {\n    clearInterval(tick);\n\n    const donePayload = {\n      type:        \"done\",\n      done:        true,\n      seq:         seq,\n      total:       total,\n      run_id:      runId,\n      run_tag:     runTag,\n      mode:        msg.mode,\n      path_class:  msg.path_class,\n      mqtt_version: msg.mqtt_version,\n      qos:         qos,\n      rate_mps:    rate,\n      msg_count:   total,\n      duration:    effectiveDurationSec\n    };\n\n    const outDone = {\n      topic:   topic,\n      payload: JSON.stringify(donePayload),\n      qos:     qos\n    };\n\n    send([ outDone, null, null ]);\n    node.status({ fill: \"green\", shape: \"dot\", text: `done ${seq} msgs` });\n    return;\n  }\n\n  seq += 1;\n  const now = Date.now();\n\n  const dataPayload = {\n    type:        \"data\",\n    data:        msg.data_payload,\n    seq:         seq,\n    total:       total,\n    t_pub:       now,\n    run_id:      runId,\n    run_tag:     runTag,\n    mode:        msg.mode,\n    path_class:  msg.path_class,\n    mqtt_version: msg.mqtt_version,\n    qos:         qos,\n    rate_mps:    rate,\n    msg_count:   total,\n    duration:    effectiveDurationSec\n  };\n\n  const outData = {\n    topic:   topic,\n    payload: JSON.stringify(dataPayload),\n    qos:     qos\n  };\n\n  send([ outData, null, null ]);\n}, everyMs);\n\nnode.status({\n  fill:  \"blue\",\n  shape: \"dot\",\n  text:  `${total} msgs @ ~${rate || (total / (effectiveDurationSec || 1))} msg/s`\n});\n\nreturn null;\n",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1620,
        "wires": [
            [
                "16ed2c1b8a3ffb2e"
            ],
            [
                "2fa676ae0ff1b703"
            ],
            [
                "69ab63f76e6127d0"
            ]
        ]
    },
    {
        "id": "7806403e7ff7b4c4",
        "type": "inject",
        "z": "2557f27f8fd510e2",
        "name": "Start Run (QoS0 200 msgs)",
        "props": [
            {
                "p": "data_payload",
                "v": "30",
                "vt": "str"
            },
            {
                "p": "run_id",
                "v": "",
                "vt": "date"
            },
            {
                "p": "run_tag",
                "v": "baseline_bridge_200",
                "vt": "str"
            },
            {
                "p": "mode",
                "v": "baseline",
                "vt": "str"
            },
            {
                "p": "path_class",
                "v": "bridge_broker",
                "vt": "str"
            },
            {
                "p": "mqtt_version",
                "v": "3.1.1",
                "vt": "str"
            },
            {
                "p": "qos",
                "v": "0",
                "vt": "num"
            },
            {
                "p": "rate_mps",
                "v": "1",
                "vt": "num"
            },
            {
                "p": "msg_count",
                "v": "200",
                "vt": "num"
            },
            {
                "p": "duration",
                "v": "200",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 1620,
        "wires": [
            [
                "f07d0fe957ba16db"
            ]
        ]
    },
    {
        "id": "15e63d8105565c33",
        "type": "inject",
        "z": "2557f27f8fd510e2",
        "name": "Start Run (QoS0 300 msgs)",
        "props": [
            {
                "p": "data_payload",
                "v": "30",
                "vt": "str"
            },
            {
                "p": "run_id",
                "v": "",
                "vt": "date"
            },
            {
                "p": "run_tag",
                "v": "baseline_bridge_300",
                "vt": "str"
            },
            {
                "p": "mode",
                "v": "baseline",
                "vt": "str"
            },
            {
                "p": "path_class",
                "v": "bridge_broker",
                "vt": "str"
            },
            {
                "p": "mqtt_version",
                "v": "3.1.1",
                "vt": "str"
            },
            {
                "p": "qos",
                "v": "0",
                "vt": "num"
            },
            {
                "p": "rate_mps",
                "v": "1",
                "vt": "num"
            },
            {
                "p": "msg_count",
                "v": "300",
                "vt": "num"
            },
            {
                "p": "duration",
                "v": "300",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 1700,
        "wires": [
            [
                "f07d0fe957ba16db"
            ]
        ]
    },
    {
        "id": "929d86922947bb1b",
        "type": "exec",
        "z": "2557f27f8fd510e2",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Trigger monitoring script (mosquitto)",
        "x": 1250,
        "y": 2080,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "16c2c7f299465a4b",
        "type": "exec",
        "z": "2557f27f8fd510e2",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Trigger monitoring script (node-red)",
        "x": 1220,
        "y": 2180,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "da8a69f3136153d4",
        "type": "mqtt out",
        "z": "2557f27f8fd510e2",
        "name": "Send data via Cookie",
        "topic": "home/alice/qos1",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "23d7aa02f5d504e9",
        "x": 1220,
        "y": 1920,
        "wires": []
    },
    {
        "id": "04b999ff2994d39f",
        "type": "inject",
        "z": "2557f27f8fd510e2",
        "name": "Start Run (QoS1 100 msgs)",
        "props": [
            {
                "p": "data_payload",
                "v": "30",
                "vt": "str"
            },
            {
                "p": "run_id",
                "v": "",
                "vt": "date"
            },
            {
                "p": "run_tag",
                "v": "baseline_bridge_100",
                "vt": "str"
            },
            {
                "p": "mode",
                "v": "baseline",
                "vt": "str"
            },
            {
                "p": "path_class",
                "v": "bridge_broker",
                "vt": "str"
            },
            {
                "p": "mqtt_version",
                "v": "3.1.1",
                "vt": "str"
            },
            {
                "p": "qos",
                "v": "1",
                "vt": "num"
            },
            {
                "p": "rate_mps",
                "v": "1",
                "vt": "num"
            },
            {
                "p": "msg_count",
                "v": "100",
                "vt": "num"
            },
            {
                "p": "duration",
                "v": "100",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 180,
        "y": 2040,
        "wires": [
            [
                "4997c815e1dd0f26"
            ]
        ]
    },
    {
        "id": "4997c815e1dd0f26",
        "type": "function",
        "z": "2557f27f8fd510e2",
        "name": "Rate Scheduler + Timestamp + Script Trigger (dual service)",
        "func": "// Count-based scheduler for baseline data transfer\n//  - Sends exactly msg_count messages on topic 'alice/temp/qos0'\n//  - Each data message: {type:'data', data, seq, total, t_pub, ...meta}\n//  - Final control:       {type:'done', done:true, seq, total, ...meta}\n//  - Triggers monitor_sys_stats.sh <runTag> <proc> <qos> <mqtt_version> <duration>\n\nconst rate        = Number(msg.rate_mps || 0);          // for spacing + meta\nconst total       = Number(msg.msg_count || 0);          // total messages\nconst durationSec = Number(msg.duration || 0);           // nominal run duration (s)\n\nif (!Number.isFinite(total) || total <= 0) {\n  node.error(\"❌ Invalid msg_count (must be > 0)\");\n  return [null, null, null];\n}\n\nconst runId  = String(msg.run_id || Date.now());\nconst runTag = String(msg.run_tag || \"run\");\nconst topic  = \"alice/temp/qos0\";\nconst qos    = Number(msg.qos || 0);\n\n// Compute interval between messages\nlet everyMs;\nif (rate > 0) {\n  everyMs = Math.max(1, Math.floor(1000 / rate));\n} else if (durationSec > 0) {\n  everyMs = Math.max(1, Math.floor((durationSec * 1000) / total));\n} else {\n  everyMs = 1000; // fallback\n}\n\n// Effective duration used for monitors (seconds)\nconst effectiveDurationSec = durationSec > 0\n  ? durationSec\n  : Math.ceil((total * everyMs) / 1000);\n\n// --- Trigger monitoring scripts once at start ---\nconst qosArg   = String(qos);\nconst mqttArg  = String(msg.mqtt_version || \"\");\nconst durArg   = String(effectiveDurationSec);\nconst script   = \"/etc/mosquitto/perf_results/monitor_sys_stats.sh\";\n\nconst msgScript1 = { payload: `${script} ${runTag} mosquitto ${qosArg} ${mqttArg} ${durArg}` };\nconst msgScript2 = { payload: `${script} ${runTag} node-red  ${qosArg} ${mqttArg} ${durArg}` };\n\nnode.send([ null, msgScript1, msgScript2 ]);\n\n// --- Scheduler loop: send seq=1..total, then done ---\nlet seq   = 0;\nconst send = node.send.bind(node);\n\nconst tick = setInterval(() => {\n  if (seq >= total) {\n    clearInterval(tick);\n\n    const donePayload = {\n      type:        \"done\",\n      done:        true,\n      seq:         seq,\n      total:       total,\n      run_id:      runId,\n      run_tag:     runTag,\n      mode:        msg.mode,\n      path_class:  msg.path_class,\n      mqtt_version: msg.mqtt_version,\n      qos:         qos,\n      rate_mps:    rate,\n      msg_count:   total,\n      duration:    effectiveDurationSec\n    };\n\n    const outDone = {\n      topic:   topic,\n      payload: JSON.stringify(donePayload),\n      qos:     qos\n    };\n\n    send([ outDone, null, null ]);\n    node.status({ fill: \"green\", shape: \"dot\", text: `done ${seq} msgs` });\n    return;\n  }\n\n  seq += 1;\n  const now = Date.now();\n\n  const dataPayload = {\n    type:        \"data\",\n    data:        msg.data_payload,\n    seq:         seq,\n    total:       total,\n    t_pub:       now,\n    run_id:      runId,\n    run_tag:     runTag,\n    mode:        msg.mode,\n    path_class:  msg.path_class,\n    mqtt_version: msg.mqtt_version,\n    qos:         qos,\n    rate_mps:    rate,\n    msg_count:   total,\n    duration:    effectiveDurationSec\n  };\n\n  const outData = {\n    topic:   topic,\n    payload: JSON.stringify(dataPayload),\n    qos:     qos\n  };\n\n  send([ outData, null, null ]);\n}, everyMs);\n\nnode.status({\n  fill:  \"blue\",\n  shape: \"dot\",\n  text:  `${total} msgs @ ~${rate || (total / (effectiveDurationSec || 1))} msg/s`\n});\n\nreturn null;\n",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 2100,
        "wires": [
            [
                "da8a69f3136153d4"
            ],
            [
                "929d86922947bb1b"
            ],
            [
                "16c2c7f299465a4b"
            ]
        ]
    },
    {
        "id": "8afd0cb94fa2496d",
        "type": "inject",
        "z": "2557f27f8fd510e2",
        "name": "Start Run (QoS1 200 msgs)",
        "props": [
            {
                "p": "data_payload",
                "v": "30",
                "vt": "str"
            },
            {
                "p": "run_id",
                "v": "",
                "vt": "date"
            },
            {
                "p": "run_tag",
                "v": "baseline_bridge_200",
                "vt": "str"
            },
            {
                "p": "mode",
                "v": "baseline",
                "vt": "str"
            },
            {
                "p": "path_class",
                "v": "bridge_broker",
                "vt": "str"
            },
            {
                "p": "mqtt_version",
                "v": "3.1.1",
                "vt": "str"
            },
            {
                "p": "qos",
                "v": "1",
                "vt": "num"
            },
            {
                "p": "rate_mps",
                "v": "1",
                "vt": "num"
            },
            {
                "p": "msg_count",
                "v": "200",
                "vt": "num"
            },
            {
                "p": "duration",
                "v": "200",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 2100,
        "wires": [
            [
                "4997c815e1dd0f26"
            ]
        ]
    },
    {
        "id": "7f0a7bd86cafb0c9",
        "type": "inject",
        "z": "2557f27f8fd510e2",
        "name": "Start Run (QoS1 300 msgs)",
        "props": [
            {
                "p": "data_payload",
                "v": "30",
                "vt": "str"
            },
            {
                "p": "run_id",
                "v": "",
                "vt": "date"
            },
            {
                "p": "run_tag",
                "v": "baseline_bridge_300",
                "vt": "str"
            },
            {
                "p": "mode",
                "v": "baseline",
                "vt": "str"
            },
            {
                "p": "path_class",
                "v": "bridge_broker",
                "vt": "str"
            },
            {
                "p": "mqtt_version",
                "v": "3.1.1",
                "vt": "str"
            },
            {
                "p": "qos",
                "v": "1",
                "vt": "num"
            },
            {
                "p": "rate_mps",
                "v": "1",
                "vt": "num"
            },
            {
                "p": "msg_count",
                "v": "300",
                "vt": "num"
            },
            {
                "p": "duration",
                "v": "300",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 180,
        "y": 2260,
        "wires": [
            [
                "4997c815e1dd0f26"
            ]
        ]
    },
    {
        "id": "540f532a9b7b1de0",
        "type": "exec",
        "z": "2557f27f8fd510e2",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Trigger monitoring script (mosquitto)",
        "x": 1230,
        "y": 2520,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "b06e7120b4675050",
        "type": "exec",
        "z": "2557f27f8fd510e2",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Trigger monitoring script (node-red)",
        "x": 1200,
        "y": 2620,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "0c775faf40290cdf",
        "type": "mqtt out",
        "z": "2557f27f8fd510e2",
        "name": "Send data via Cookie",
        "topic": "home/alice/qos2",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "23d7aa02f5d504e9",
        "x": 1200,
        "y": 2340,
        "wires": []
    },
    {
        "id": "c12e4a9c8231acef",
        "type": "inject",
        "z": "2557f27f8fd510e2",
        "name": "Start Run (QoS2 100 msgs)",
        "props": [
            {
                "p": "data_payload",
                "v": "30",
                "vt": "str"
            },
            {
                "p": "run_id",
                "v": "",
                "vt": "date"
            },
            {
                "p": "run_tag",
                "v": "baseline_bridge_100",
                "vt": "str"
            },
            {
                "p": "mode",
                "v": "baseline",
                "vt": "str"
            },
            {
                "p": "path_class",
                "v": "bridge_broker",
                "vt": "str"
            },
            {
                "p": "mqtt_version",
                "v": "3.1.1",
                "vt": "str"
            },
            {
                "p": "qos",
                "v": "2",
                "vt": "num"
            },
            {
                "p": "rate_mps",
                "v": "1",
                "vt": "num"
            },
            {
                "p": "msg_count",
                "v": "100",
                "vt": "num"
            },
            {
                "p": "duration",
                "v": "100",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 180,
        "y": 2440,
        "wires": [
            [
                "1758989f89bd2918"
            ]
        ]
    },
    {
        "id": "1758989f89bd2918",
        "type": "function",
        "z": "2557f27f8fd510e2",
        "name": "Rate Scheduler + Timestamp + Script Trigger (dual service)",
        "func": "// Count-based scheduler for baseline data transfer\n//  - Sends exactly msg_count messages on topic 'alice/temp/qos0'\n//  - Each data message: {type:'data', data, seq, total, t_pub, ...meta}\n//  - Final control:       {type:'done', done:true, seq, total, ...meta}\n//  - Triggers monitor_sys_stats.sh <runTag> <proc> <qos> <mqtt_version> <duration>\n\nconst rate        = Number(msg.rate_mps || 0);          // for spacing + meta\nconst total       = Number(msg.msg_count || 0);          // total messages\nconst durationSec = Number(msg.duration || 0);           // nominal run duration (s)\n\nif (!Number.isFinite(total) || total <= 0) {\n  node.error(\"❌ Invalid msg_count (must be > 0)\");\n  return [null, null, null];\n}\n\nconst runId  = String(msg.run_id || Date.now());\nconst runTag = String(msg.run_tag || \"run\");\nconst topic  = \"alice/temp/qos0\";\nconst qos    = Number(msg.qos || 0);\n\n// Compute interval between messages\nlet everyMs;\nif (rate > 0) {\n  everyMs = Math.max(1, Math.floor(1000 / rate));\n} else if (durationSec > 0) {\n  everyMs = Math.max(1, Math.floor((durationSec * 1000) / total));\n} else {\n  everyMs = 1000; // fallback\n}\n\n// Effective duration used for monitors (seconds)\nconst effectiveDurationSec = durationSec > 0\n  ? durationSec\n  : Math.ceil((total * everyMs) / 1000);\n\n// --- Trigger monitoring scripts once at start ---\nconst qosArg   = String(qos);\nconst mqttArg  = String(msg.mqtt_version || \"\");\nconst durArg   = String(effectiveDurationSec);\nconst script   = \"/etc/mosquitto/perf_results/monitor_sys_stats.sh\";\n\nconst msgScript1 = { payload: `${script} ${runTag} mosquitto ${qosArg} ${mqttArg} ${durArg}` };\nconst msgScript2 = { payload: `${script} ${runTag} node-red  ${qosArg} ${mqttArg} ${durArg}` };\n\nnode.send([ null, msgScript1, msgScript2 ]);\n\n// --- Scheduler loop: send seq=1..total, then done ---\nlet seq   = 0;\nconst send = node.send.bind(node);\n\nconst tick = setInterval(() => {\n  if (seq >= total) {\n    clearInterval(tick);\n\n    const donePayload = {\n      type:        \"done\",\n      done:        true,\n      seq:         seq,\n      total:       total,\n      run_id:      runId,\n      run_tag:     runTag,\n      mode:        msg.mode,\n      path_class:  msg.path_class,\n      mqtt_version: msg.mqtt_version,\n      qos:         qos,\n      rate_mps:    rate,\n      msg_count:   total,\n      duration:    effectiveDurationSec\n    };\n\n    const outDone = {\n      topic:   topic,\n      payload: JSON.stringify(donePayload),\n      qos:     qos\n    };\n\n    send([ outDone, null, null ]);\n    node.status({ fill: \"green\", shape: \"dot\", text: `done ${seq} msgs` });\n    return;\n  }\n\n  seq += 1;\n  const now = Date.now();\n\n  const dataPayload = {\n    type:        \"data\",\n    data:        msg.data_payload,\n    seq:         seq,\n    total:       total,\n    t_pub:       now,\n    run_id:      runId,\n    run_tag:     runTag,\n    mode:        msg.mode,\n    path_class:  msg.path_class,\n    mqtt_version: msg.mqtt_version,\n    qos:         qos,\n    rate_mps:    rate,\n    msg_count:   total,\n    duration:    effectiveDurationSec\n  };\n\n  const outData = {\n    topic:   topic,\n    payload: JSON.stringify(dataPayload),\n    qos:     qos\n  };\n\n  send([ outData, null, null ]);\n}, everyMs);\n\nnode.status({\n  fill:  \"blue\",\n  shape: \"dot\",\n  text:  `${total} msgs @ ~${rate || (total / (effectiveDurationSec || 1))} msg/s`\n});\n\nreturn null;\n",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 2520,
        "wires": [
            [
                "0c775faf40290cdf"
            ],
            [
                "540f532a9b7b1de0"
            ],
            [
                "b06e7120b4675050"
            ]
        ]
    },
    {
        "id": "4924c8acf0e74af0",
        "type": "inject",
        "z": "2557f27f8fd510e2",
        "name": "Start Run (QoS2 200 msgs)",
        "props": [
            {
                "p": "data_payload",
                "v": "30",
                "vt": "str"
            },
            {
                "p": "run_id",
                "v": "",
                "vt": "date"
            },
            {
                "p": "run_tag",
                "v": "baseline_bridge_200",
                "vt": "str"
            },
            {
                "p": "mode",
                "v": "baseline",
                "vt": "str"
            },
            {
                "p": "path_class",
                "v": "bridge_broker",
                "vt": "str"
            },
            {
                "p": "mqtt_version",
                "v": "3.1.1",
                "vt": "str"
            },
            {
                "p": "qos",
                "v": "2",
                "vt": "num"
            },
            {
                "p": "rate_mps",
                "v": "1",
                "vt": "num"
            },
            {
                "p": "msg_count",
                "v": "200",
                "vt": "num"
            },
            {
                "p": "duration",
                "v": "200",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 2520,
        "wires": [
            [
                "1758989f89bd2918"
            ]
        ]
    },
    {
        "id": "f5c4b6d1f5a614fe",
        "type": "inject",
        "z": "2557f27f8fd510e2",
        "name": "Start Run (QoS2 300 msgs)",
        "props": [
            {
                "p": "data_payload",
                "v": "30",
                "vt": "str"
            },
            {
                "p": "run_id",
                "v": "",
                "vt": "date"
            },
            {
                "p": "run_tag",
                "v": "baseline_bridge_300",
                "vt": "str"
            },
            {
                "p": "mode",
                "v": "baseline",
                "vt": "str"
            },
            {
                "p": "path_class",
                "v": "bridge_broker",
                "vt": "str"
            },
            {
                "p": "mqtt_version",
                "v": "3.1.1",
                "vt": "str"
            },
            {
                "p": "qos",
                "v": "2",
                "vt": "num"
            },
            {
                "p": "rate_mps",
                "v": "1",
                "vt": "num"
            },
            {
                "p": "msg_count",
                "v": "300",
                "vt": "num"
            },
            {
                "p": "duration",
                "v": "300",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 2600,
        "wires": [
            [
                "1758989f89bd2918"
            ]
        ]
    },
    {
        "id": "3f974df4c02d1cab",
        "type": "comment",
        "z": "2557f27f8fd510e2",
        "name": "with bridge Qos1",
        "info": "",
        "x": 160,
        "y": 1920,
        "wires": []
    },
    {
        "id": "eea5e042e7c2dba0",
        "type": "comment",
        "z": "2557f27f8fd510e2",
        "name": "with bridge Qos2",
        "info": "",
        "x": 160,
        "y": 2380,
        "wires": []
    },
    {
        "id": "a159fe8126d5a8a2",
        "type": "function",
        "z": "2557f27f8fd510e2",
        "name": "Rate Scheduler + Timestamp + Script Trigger (dual service)",
        "func": "// Count-based scheduler for baseline data transfer\n//  - Sends exactly msg_count messages on topic 'alice/temp/qos0'\n//  - Each data message: {type:'data', data, seq, total, t_pub, ...meta}\n//  - Final control:       {type:'done', done:true, seq, total, ...meta}\n//  - Triggers monitor_sys_stats.sh <runTag> <proc> <qos> <mqtt_version> <duration>\n\nconst rate        = Number(msg.rate_mps || 0);          // for spacing + meta\nconst total       = Number(msg.msg_count || 0);          // total messages\nconst durationSec = Number(msg.duration || 0);           // nominal run duration (s)\n\nif (!Number.isFinite(total) || total <= 0) {\n  node.error(\"❌ Invalid msg_count (must be > 0)\");\n  return [null, null, null];\n}\n\nconst runId  = String(msg.run_id || Date.now());\nconst runTag = String(msg.run_tag || \"run\");\nconst topic  = \"alice/temp/qos0\";\nconst qos    = Number(msg.qos || 0);\n\n// Compute interval between messages\nlet everyMs;\nif (rate > 0) {\n  everyMs = Math.max(1, Math.floor(1000 / rate));\n} else if (durationSec > 0) {\n  everyMs = Math.max(1, Math.floor((durationSec * 1000) / total));\n} else {\n  everyMs = 1000; // fallback\n}\n\n// Effective duration used for monitors (seconds)\nconst effectiveDurationSec = durationSec > 0\n  ? durationSec\n  : Math.ceil((total * everyMs) / 1000);\n\n// --- Trigger monitoring scripts once at start ---\nconst qosArg   = String(qos);\nconst mqttArg  = String(msg.mqtt_version || \"\");\nconst durArg   = String(effectiveDurationSec);\nconst script   = \"/etc/mosquitto/perf_results/monitor_sys_stats.sh\";\n\nconst msgScript1 = { payload: `${script} ${runTag} mosquitto ${qosArg} ${mqttArg} ${durArg}` };\nconst msgScript2 = { payload: `${script} ${runTag} node-red  ${qosArg} ${mqttArg} ${durArg}` };\n\nnode.send([ null, msgScript1, msgScript2 ]);\n\n// --- Scheduler loop: send seq=1..total, then done ---\nlet seq   = 0;\nconst send = node.send.bind(node);\n\nconst tick = setInterval(() => {\n  if (seq >= total) {\n    clearInterval(tick);\n\n    const donePayload = {\n      type:        \"done\",\n      done:        true,\n      seq:         seq,\n      total:       total,\n      run_id:      runId,\n      run_tag:     runTag,\n      mode:        msg.mode,\n      path_class:  msg.path_class,\n      mqtt_version: msg.mqtt_version,\n      qos:         qos,\n      rate_mps:    rate,\n      msg_count:   total,\n      duration:    effectiveDurationSec\n    };\n\n    const outDone = {\n      topic:   topic,\n      payload: JSON.stringify(donePayload),\n      qos:     qos\n    };\n\n    send([ outDone, null, null ]);\n    node.status({ fill: \"green\", shape: \"dot\", text: `done ${seq} msgs` });\n    return;\n  }\n\n  seq += 1;\n  const now = Date.now();\n\n  const dataPayload = {\n    type:        \"data\",\n    data:        msg.data_payload,\n    seq:         seq,\n    total:       total,\n    t_pub:       now,\n    run_id:      runId,\n    run_tag:     runTag,\n    mode:        msg.mode,\n    path_class:  msg.path_class,\n    mqtt_version: msg.mqtt_version,\n    qos:         qos,\n    rate_mps:    rate,\n    msg_count:   total,\n    duration:    effectiveDurationSec\n  };\n\n  const outData = {\n    topic:   topic,\n    payload: JSON.stringify(dataPayload),\n    qos:     qos\n  };\n\n  send([ outData, null, null ]);\n}, everyMs);\n\nnode.status({\n  fill:  \"blue\",\n  shape: \"dot\",\n  text:  `${total} msgs @ ~${rate || (total / (effectiveDurationSec || 1))} msg/s`\n});\n\nreturn null;\n",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 420,
        "wires": [
            [
                "ceb7af8fa77322ec"
            ],
            [
                "efb995aa11c28a36"
            ],
            [
                "00cb756a9637a6d7"
            ]
        ]
    },
    {
        "id": "d2d44cf2b5059678",
        "type": "comment",
        "z": "2557f27f8fd510e2",
        "name": "MQTT Client (Alice)",
        "info": "",
        "x": 150,
        "y": 100,
        "wires": []
    },
    {
        "id": "1a665b3188ba1f0c",
        "type": "comment",
        "z": "2557f27f8fd510e2",
        "name": "without bridge QOS0",
        "info": "",
        "x": 140,
        "y": 160,
        "wires": []
    },
    {
        "id": "4544608538ef01d7",
        "type": "inject",
        "z": "2557f27f8fd510e2",
        "name": "Start Run (QoS0, 100 msgs)",
        "props": [
            {
                "p": "data_payload",
                "v": "00",
                "vt": "str"
            },
            {
                "p": "run_id",
                "v": "",
                "vt": "date"
            },
            {
                "p": "run_tag",
                "v": "baseline_single_100",
                "vt": "str"
            },
            {
                "p": "mode",
                "v": "baseline",
                "vt": "str"
            },
            {
                "p": "path_class",
                "v": "single_broker",
                "vt": "str"
            },
            {
                "p": "mqtt_version",
                "v": "3.1.1",
                "vt": "str"
            },
            {
                "p": "qos",
                "v": "0",
                "vt": "num"
            },
            {
                "p": "rate_mps",
                "v": "1",
                "vt": "num"
            },
            {
                "p": "msg_count",
                "v": "100",
                "vt": "num"
            },
            {
                "p": "duration",
                "v": "100",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 320,
        "wires": [
            [
                "a159fe8126d5a8a2"
            ]
        ]
    },
    {
        "id": "37e022b5983b7092",
        "type": "inject",
        "z": "2557f27f8fd510e2",
        "name": "Start Run (QoS0, 200 msgs)",
        "props": [
            {
                "p": "data_payload",
                "v": "00",
                "vt": "str"
            },
            {
                "p": "run_id",
                "v": "",
                "vt": "date"
            },
            {
                "p": "run_tag",
                "v": "baseline_single_200",
                "vt": "str"
            },
            {
                "p": "mode",
                "v": "baseline",
                "vt": "str"
            },
            {
                "p": "path_class",
                "v": "single_broker",
                "vt": "str"
            },
            {
                "p": "mqtt_version",
                "v": "3.1.1",
                "vt": "str"
            },
            {
                "p": "qos",
                "v": "0",
                "vt": "num"
            },
            {
                "p": "rate_mps",
                "v": "1",
                "vt": "num"
            },
            {
                "p": "msg_count",
                "v": "200",
                "vt": "num"
            },
            {
                "p": "duration",
                "v": "200",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 440,
        "wires": [
            [
                "a159fe8126d5a8a2"
            ]
        ]
    },
    {
        "id": "afdfcd8ff124be78",
        "type": "inject",
        "z": "2557f27f8fd510e2",
        "name": "Start Run (QoS0, 300 msgs)",
        "props": [
            {
                "p": "data_payload",
                "v": "00",
                "vt": "str"
            },
            {
                "p": "run_id",
                "v": "",
                "vt": "date"
            },
            {
                "p": "run_tag",
                "v": "baseline_single_300",
                "vt": "str"
            },
            {
                "p": "mode",
                "v": "baseline",
                "vt": "str"
            },
            {
                "p": "path_class",
                "v": "single_broker",
                "vt": "str"
            },
            {
                "p": "mqtt_version",
                "v": "3.1.1",
                "vt": "str"
            },
            {
                "p": "qos",
                "v": "0",
                "vt": "num"
            },
            {
                "p": "rate_mps",
                "v": "1",
                "vt": "num"
            },
            {
                "p": "msg_count",
                "v": "300",
                "vt": "num"
            },
            {
                "p": "duration",
                "v": "300",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 560,
        "wires": [
            [
                "a159fe8126d5a8a2"
            ]
        ]
    },
    {
        "id": "ceb7af8fa77322ec",
        "type": "mqtt out",
        "z": "2557f27f8fd510e2",
        "name": "Send data via Sunny",
        "topic": "alice/temp/qos0",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "873502a2020d1559",
        "x": 980,
        "y": 360,
        "wires": []
    },
    {
        "id": "efb995aa11c28a36",
        "type": "exec",
        "z": "2557f27f8fd510e2",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Trigger monitoring script (mosquitto)",
        "x": 1030,
        "y": 440,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "00cb756a9637a6d7",
        "type": "exec",
        "z": "2557f27f8fd510e2",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Trigger monitoring script (node-red)",
        "x": 1030,
        "y": 540,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "873502a2020d1559",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.151.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "23d7aa02f5d504e9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.153.1",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]