Central Broker Sunny/Node-red Flows/Database Sync.json
[
    {
        "id": "3898444197398905",
        "type": "tab",
        "label": "Database Sync",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7a21dce38340ab3f",
        "type": "function",
        "z": "3898444197398905",
        "name": "Prepare query for DeviceProfile Table to sync",
        "func": "// --- Step 1: Extract values from MQTT-in payload ---\nconst payload = msg.payload;\nconst deviceId = payload.device_id;\nconst deviceName = payload.device_name;\nconst macAddress1 = payload.mac_address_1 || \"00:00:00:00:00:00\";\nconst macAddress2 = payload.mac_address_2 || \"00:00:00:00:00:00\";\nconst jwt = payload.jwt_token;\nconst isBroker = payload.is_broker || 0;\nconst authentication_status= payload.authentication_status;\nconst registrationTime = payload.registered_at || Math.floor(Date.now() / 1000);\n// --- Step 2: SQLCipher config ---\nconst dbPath = \"/etc/mosquitto/certs/update_database.db\";\nconst pragmaKey = env.get(\"DB_PASSWORD\");\n\n\n// --- Step 4: Prepare multi-line SQL INSERT ---\nconst sqlInsert = `\nPRAGMA key = '${pragmaKey}';\nINSERT INTO DeviceProfile (device_id, device_name, mac_address_1, mac_address_2, jwt_token, is_broker, authentication_status, registered_at) \nVALUES ('${deviceId}', '${deviceName}', '${macAddress1}', '${macAddress2}', '${jwt}', ${isBroker}, NULL, ${registrationTime});`;\n\n// --- Step 5: Set as payload for exec ---\nmsg.payload = `sqlcipher ${dbPath} <<< \"${sqlInsert.trim()}\"`;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 240,
        "wires": [
            [
                "13d9cfced9bee942"
            ]
        ]
    },
    {
        "id": "b4f68784911376bf",
        "type": "exec",
        "z": "3898444197398905",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Sync DeviceProfile Table",
        "x": 1610,
        "y": 240,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "13d9cfced9bee942",
        "type": "delay",
        "z": "3898444197398905",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1340,
        "y": 200,
        "wires": [
            [
                "b4f68784911376bf"
            ]
        ]
    },
    {
        "id": "0dd668f0b54b4004",
        "type": "delay",
        "z": "3898444197398905",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1320,
        "y": 400,
        "wires": [
            [
                "9f6eb1b10c3173e5"
            ]
        ]
    },
    {
        "id": "9f6eb1b10c3173e5",
        "type": "exec",
        "z": "3898444197398905",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Sync Keys Table",
        "x": 1540,
        "y": 400,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c1b644582cd174e1",
        "type": "function",
        "z": "3898444197398905",
        "name": "Prepare query for authentication_satus to sync",
        "func": "const payload = msg.payload;\nconst deviceId = payload.device_id;\nconst authentication_status = payload.authentication_status;\n\nconst dbPath = \"/etc/mosquitto/certs/update_database.db\";\nconst pragmaKey = env.get(\"DB_PASSWORD\");\n\n\n\n// UPSERT workaround:\nconst sqlUpsert = `\nPRAGMA key = '${pragmaKey}';\nUPDATE DeviceProfile\nSET authentication_status = '${authentication_status}' \nWHERE device_id = '${deviceId}';\n`;\nmsg.payload = `sqlcipher ${dbPath} <<< \"${sqlUpsert.trim()}\"`;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 560,
        "wires": [
            [
                "4a02ad4ea8a5de7a"
            ]
        ]
    },
    {
        "id": "ae92ce7c3bd6b15a",
        "type": "exec",
        "z": "3898444197398905",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Sync Authentication Status Table",
        "x": 1660,
        "y": 560,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "d730444d68659bdb",
        "type": "function",
        "z": "3898444197398905",
        "name": "Prepare query for Keys Table to sync",
        "func": "const fs = global.get(\"fs\");\n\nconst payload = msg.payload;\nconst deviceId = payload.device_id;\nconst publicKey = payload.public_key;\nconst devicename = payload.devicename;\n\nconst dbPath = \"/etc/mosquitto/certs/update_database.db\";\nconst pragmaKey = env.get(\"DB_PASSWORD\");\n\nconst publicKeyEscaped = publicKey.replace(/'/g, \"''\");\n\n// --- Extra: if this is Sunny, write the key to file ---\nif (devicename && devicename.toLowerCase() === \"sunny\") {\n    try {\n        const sunnyPath = \"/etc/mosquitto/certs/sunny-public-key.pem\";\n        fs.writeFileSync(sunnyPath, publicKey, \"utf8\");\n        node.warn(`✅ Sunny public key written to ${sunnyPath}`);\n    } catch (err) {\n        node.error(`❌ Failed to write Sunny public key: ${err.message}`);\n    }\n}\n\n// --- UPSERT query ---\nconst sqlUpsert = `\nPRAGMA key = '${pragmaKey}';\nUPDATE Keys\nSET public_key = '${publicKeyEscaped}'\nWHERE device_id = '${deviceId}';\n\nINSERT INTO Keys (device_id, public_key)\nSELECT '${deviceId}', '${publicKeyEscaped}'\nWHERE NOT EXISTS (\n    SELECT 1 FROM Keys WHERE device_id = '${deviceId}'\n);\n`;\n\nmsg.payload = `sqlcipher ${dbPath} <<< \"${sqlUpsert.trim()}\"`;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 400,
        "wires": [
            [
                "0dd668f0b54b4004"
            ]
        ]
    },
    {
        "id": "ec17864a00b510a2",
        "type": "mqtt in",
        "z": "3898444197398905",
        "name": "Sync Device Profile Table",
        "topic": "sync/data/device_profile",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "47b12596f39b9eb8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 710,
        "y": 240,
        "wires": [
            [
                "7a21dce38340ab3f"
            ]
        ]
    },
    {
        "id": "88788f1a25fae408",
        "type": "mqtt in",
        "z": "3898444197398905",
        "name": "Sync Keys Table",
        "topic": "sync/data/keys_",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "47b12596f39b9eb8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 680,
        "y": 400,
        "wires": [
            [
                "d730444d68659bdb"
            ]
        ]
    },
    {
        "id": "7c3c3c121df2650b",
        "type": "mqtt in",
        "z": "3898444197398905",
        "name": "Sync Authentication Status",
        "topic": "sync/database/deviceprofile/auth",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "d9e12a3558e15ca7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 710,
        "y": 560,
        "wires": [
            [
                "c1b644582cd174e1"
            ]
        ]
    },
    {
        "id": "f373c928e2773e04",
        "type": "comment",
        "z": "3898444197398905",
        "name": "Sync Device Profile Table Data of other Devices",
        "info": "",
        "x": 780,
        "y": 180,
        "wires": []
    },
    {
        "id": "34d7a7235610e2bc",
        "type": "comment",
        "z": "3898444197398905",
        "name": "Sync Keys Table Data of other Devices",
        "info": "",
        "x": 730,
        "y": 360,
        "wires": []
    },
    {
        "id": "c822752ed5585a9f",
        "type": "comment",
        "z": "3898444197398905",
        "name": "Sync Authentication Sataus of other Devices",
        "info": "",
        "x": 770,
        "y": 500,
        "wires": []
    },
    {
        "id": "4a02ad4ea8a5de7a",
        "type": "delay",
        "z": "3898444197398905",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1380,
        "y": 560,
        "wires": [
            [
                "ae92ce7c3bd6b15a"
            ]
        ]
    },
    {
        "id": "1c62afcaa419aaa2",
        "type": "comment",
        "z": "3898444197398905",
        "name": " MQTT Edge Broker (Sunny)",
        "info": "",
        "x": 720,
        "y": 140,
        "wires": []
    },
    {
        "id": "47b12596f39b9eb8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.151.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d9e12a3558e15ca7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.151.1",
        "port": "8883",
        "tls": "565b77223a05cca1",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "565b77223a05cca1",
        "type": "tls-config",
        "name": "",
        "cert": "/etc/mosquitto/certs/sunny.pem",
        "key": "/etc/mosquitto/certs/sunny-key.pem",
        "ca": "/etc/mosquitto/certs/MQTTS.pem",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "sunny",
        "verifyservercert": true,
        "alpnprotocol": ""
    }
]