Central Broker Sunny/Node-red Flows/Mutual Authentication.json
[
    {
        "id": "db3f86b9b5554758",
        "type": "tab",
        "label": "Mutual Authentication",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0030ccd2101a19a9",
        "type": "mqtt in",
        "z": "db3f86b9b5554758",
        "name": "Authentication Request",
        "topic": "authentication/request/+",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f3cb7dcdae0abc98",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 240,
        "wires": [
            [
                "1423583aad060dcd"
            ]
        ]
    },
    {
        "id": "1423583aad060dcd",
        "type": "function",
        "z": "db3f86b9b5554758",
        "name": "Save MQTT payload in flow and Query out Public Key",
        "func": "\n\n// --- Step 1: Extract payload from MQTT topic ---\nlet topicParts = msg.topic.split(\"/\");\nmsg.device_name = topicParts[2];  // Extract device name from topic\n\n// --- Step 2: Extract values from MQTT payload ---\nconst deviceID = msg.payload.device_id;\nconst token = msg.payload.jwt;\nconst signature = msg.payload.signature;\n\n// --- Step 3: Validate payload ---\nif (!deviceID || !token || !signature) {\n    node.error(\"❌ Missing required payload values: device_id, jwt, or signature.\");\n    return null;\n}\n\n// --- Step 4: Store values in flow context (do NOT save wifi_SSID) ---\nflow.set('deviceID', deviceID);\nflow.set('jwt', token);\nflow.set('signature', signature);\n\n// --- Step 5: Construct data to verify and store it ---\nconst dataToVerify = `${deviceID}|${token}`;\nflow.set('dataToVerify', dataToVerify);\n\n// --- Step 6: Prepare SQLCipher query to retrieve public_key from DeviceProfile ---\nconst dbPath = \"/etc/mosquitto/certs/update_database.db\";\nconst pragmaKey = env.get(\"DB_PASSWORD\");\n\n// Sanitize deviceID for SQL\nconst safeDeviceID = deviceID.replace(/'/g, \"''\");\n\nconst sqlQuery = `\nPRAGMA key = '${pragmaKey}';\nSELECT public_key FROM Keys WHERE device_id = '${safeDeviceID}';\n`;\n\nmsg.payload = `sqlcipher ${dbPath} <<< \"${sqlQuery.trim()}\"`;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 240,
        "wires": [
            [
                "ddb840067e5dcbee"
            ]
        ]
    },
    {
        "id": "eb41ee8a3612d5ec",
        "type": "function",
        "z": "db3f86b9b5554758",
        "name": "Verify Signature/ JWT and prepare query to update authentication status/ select JWT",
        "func": "const fs = global.get('fs');\nconst crypto = global.get('crypto');\nconst jwt = global.get('jwt');\n\n// --- Step 1: Setup ---\nconst deviceName = msg.device_name;\nconst deviceID = flow.get('deviceID');\nconst dataToVerify = flow.get('dataToVerify');\nconst signature = flow.get('signature');\nconst token = flow.get('jwt');\n\n// --- Retrieve self device_id from global context ---\nconst selfDeviceID = global.get(\"device_id\", \"file\");\n\nconst dbPath = \"/etc/mosquitto/certs/update_database.db\";\nconst pragmaKey = env.get(\"DB_PASSWORD\");\n\nlet authenticationStatus = \"\";  // Will be set dynamically\n\n// --- Step 2: Parse SQLCipher result to extract public key ---\nconst publicKey = msg.payload.trim();\nif (!publicKey.startsWith(\"-----BEGIN PUBLIC KEY-----\")) {\n    node.error(\"❌ SQLCipher result is not a valid public key.\");\n    authenticationStatus = \"Signature fail\";\n} else {\n    try {\n        const verifier = crypto.createVerify('sha256');\n        verifier.update(dataToVerify);\n        verifier.end();\n        const isValid = verifier.verify(publicKey, signature, 'base64');\n\n        if (!isValid) {\n            node.warn(\"❌ Signature verification failed.\");\n            authenticationStatus = \"Signature fail\";\n        } else {\n            node.warn(\"✅ Signature verification successful.\");\n\n            // --- Step 3: Verify JWT using Sunny's public key + enforce 15-min window ---\n            try {\n                const sunnyPublicKey = global.get(\"public_key\", \"file\");\n                if (!sunnyPublicKey) throw new Error(\"Sunny public key not found in global context.\");\n\n                // jwt.verify will fail if EXP is in the past\n                const decodedJWT = jwt.verify(token, sunnyPublicKey, { algorithms: ['ES256'] });\n\n                // Enforce max lifetime of 45 minutes (2700s)\n                const iat = Number(decodedJWT.iat || 0);\n                const exp = Number(decodedJWT.exp || 0);\n                const lifetime = exp - iat;\n\n                if (!iat || !exp || lifetime <= 0 || lifetime > 2700) {\n                    node.warn(\"❌ JWT window invalid (must be ≤ 2700s).\");\n                    authenticationStatus = \"JWT fail\";\n                } else if (decodedJWT.device_id !== deviceID) {\n                    node.warn(\"❌ JWT device ID mismatch.\");\n                    authenticationStatus = \"JWT fail\";\n                } else {\n                    node.warn(\"✅ JWT verification successful (≤45 min).\");\n                    authenticationStatus = \"OK\";\n                }\n            } catch (jwtErr) {\n                node.warn(\"❌ JWT verification failed: \" + jwtErr.message);\n                authenticationStatus = \"JWT fail\";\n            }\n        }\n    } catch (sigErr) {\n        node.error(\"❌ Signature verification error: \" + sigErr.message);\n        authenticationStatus = \"Signature fail\";\n    }\n}\n\n// --- Step 4: Save status in flow ---\nflow.set('authentication_status', authenticationStatus);\n\n// --- Step 5: Prepare both queries ---\nconst updateSQL = `\nPRAGMA key = '${pragmaKey}';\nUPDATE DeviceProfile \nSET authentication_status = '${authenticationStatus}' \nWHERE device_id = '${deviceID}';\n`;\n\nconst selectSQL = `\nPRAGMA key = '${pragmaKey}';\nSELECT jwt_token FROM DeviceProfile WHERE device_id = '${selfDeviceID}';\n`;\n\nmsg.payload = `sqlcipher ${dbPath} <<< \"${updateSQL.trim()} \\n ${selectSQL.trim()}\"`;\n\nnode.warn(`📌 authentication_status = \"${authenticationStatus}\" set for device_id: ${deviceID}`);\n\nmsg.mqtt_payload = {\n    device_id: deviceID,\n    authentication_status: authenticationStatus\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 380,
        "wires": [
            [
                "bffd84a2199b451d",
                "4f3dd2901c50cb4e"
            ]
        ]
    },
    {
        "id": "2f20d4210e6bdfad",
        "type": "function",
        "z": "db3f86b9b5554758",
        "name": "Prepare for Authentication Respond",
        "func": "const fs = global.get('fs');\nconst crypto = global.get('crypto');\n\n// ✅ Step 1: Get device name\nconst deviceName = msg.device_name;\n// --- Step 1: Clean and extract JWT ---\nconst jwtToken = msg.payload.trim();  // Assuming payload is just the raw JWT string\n\n// --- Step 2: Retrieve context values ---\nconst deviceID = global.get(\"device_id\", \"file\");\nconst authStatus = flow.get(\"authentication_status\");\n\nif (!jwtToken || !deviceID || !authStatus) {\n    node.error(\"❌ Missing required values. JWT, device ID, or auth status is not found.\");\n    return null;\n}\n\n\n//node.warn(\"📦 MQTT Payload Ready: \" + JSON.stringify(msg.payload));\n// Step 3: Prepare data to sign\nconst dataToSign = `${deviceID}|${jwtToken}`;\n\n// Step 4: Load Sunny’s private key from global context\nlet privateKeyPEM = global.get(\"private_key\", \"file\");\nif (!privateKeyPEM) {\n    node.error(\"❌ Sunny's private key not found in global context!\");\n    return null;\n}\n\n// Step 5: Sign the data using ECDSA (SHA-256)\nconst signer = crypto.createSign('sha256');\nsigner.update(dataToSign);\nsigner.end();\nconst signature = signer.sign(privateKeyPEM, 'base64');\n\n// ✅ Step 4: Set MQTT topic dynamically\nmsg.topic = `authentication/respond/${deviceName}`;\n\n\n// --- Step 5: Prepare MQTT payload ---\nmsg.payload = {\n    device_id: deviceID,\n    jwt: jwtToken,\n    signature: signature,\n    authentication_status: authStatus\n};\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1820,
        "y": 360,
        "wires": [
            [
                "6dfb8de9119f9724"
            ]
        ]
    },
    {
        "id": "6dfb8de9119f9724",
        "type": "mqtt out",
        "z": "db3f86b9b5554758",
        "name": "Authentication Respond",
        "topic": "",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7c21cdd37769f825",
        "x": 1990,
        "y": 420,
        "wires": []
    },
    {
        "id": "ddb840067e5dcbee",
        "type": "exec",
        "z": "db3f86b9b5554758",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Select the Public Key",
        "x": 860,
        "y": 380,
        "wires": [
            [
                "eb41ee8a3612d5ec"
            ],
            [],
            []
        ]
    },
    {
        "id": "4f3dd2901c50cb4e",
        "type": "exec",
        "z": "db3f86b9b5554758",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Update Authenication status and select JWT",
        "x": 1410,
        "y": 320,
        "wires": [
            [
                "2f20d4210e6bdfad"
            ],
            [],
            []
        ]
    },
    {
        "id": "bffd84a2199b451d",
        "type": "change",
        "z": "db3f86b9b5554758",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.mqtt_payload",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1340,
        "y": 440,
        "wires": [
            [
                "dcc02af83d3609c9"
            ]
        ]
    },
    {
        "id": "070a7d21b9ef597d",
        "type": "comment",
        "z": "db3f86b9b5554758",
        "name": "Authenticate Connected Devices",
        "info": "",
        "x": 270,
        "y": 200,
        "wires": []
    },
    {
        "id": "c653b789d48c1c4c",
        "type": "mqtt in",
        "z": "db3f86b9b5554758",
        "name": "Authentication Ack",
        "topic": "authentication/respond_ack/+",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f3cb7dcdae0abc98",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 600,
        "wires": [
            [
                "818f19b80c016603"
            ]
        ]
    },
    {
        "id": "818f19b80c016603",
        "type": "function",
        "z": "db3f86b9b5554758",
        "name": "Prepare Query to update authentication status",
        "func": "\n\n// --- Step 1: Extract payload from MQTT topic ---\nlet topicParts = msg.topic.split(\"/\");\nmsg.device_name = topicParts[2];  // Extract device name from topic\n\n// --- Step 2: Extract values from MQTT payload ---\nconst deviceID = msg.payload.device_id;\nconst authentication_status = msg.payload.authentication_status;\n\n\n\n// --- Step 6: Prepare SQLCipher query to retrieve public_key from DeviceProfile ---\nconst dbPath = \"/etc/mosquitto/certs/update_database.db\";\nconst pragmaKey = env.get(\"DB_PASSWORD\");\n\n// Sanitize deviceID for SQL\nconst safeDeviceID = deviceID.replace(/'/g, \"''\");\n\nconst sqlQuery = `\nPRAGMA key = '${pragmaKey}';\nUPDATE DeviceProfile \nSET authentication_status = '${authentication_status}' \nWHERE device_id = '${deviceID}';\n`;\n\nmsg.payload = `sqlcipher ${dbPath} <<< \"${sqlQuery.trim()}\"`;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 620,
        "wires": [
            [
                "627f7fe650faea17"
            ]
        ]
    },
    {
        "id": "627f7fe650faea17",
        "type": "exec",
        "z": "db3f86b9b5554758",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Update Authentication Status",
        "x": 960,
        "y": 620,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "dcc02af83d3609c9",
        "type": "mqtt out",
        "z": "db3f86b9b5554758",
        "name": "",
        "topic": "sync/database/deviceprofile/auth",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d9e12a3558e15ca7",
        "x": 1420,
        "y": 500,
        "wires": []
    },
    {
        "id": "d46620eb94fd2692",
        "type": "comment",
        "z": "db3f86b9b5554758",
        "name": "Recieve Authentication Status from connected Devices ",
        "info": "",
        "x": 360,
        "y": 540,
        "wires": []
    },
    {
        "id": "d9236810b765394d",
        "type": "comment",
        "z": "db3f86b9b5554758",
        "name": " MQTT Central Broker (Sunny)",
        "info": "",
        "x": 260,
        "y": 140,
        "wires": []
    },
    {
        "id": "7371286f5274881b",
        "type": "inject",
        "z": "db3f86b9b5554758",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 480,
        "wires": [
            [
                "47c36c19b28f62a0"
            ]
        ]
    },
    {
        "id": "47c36c19b28f62a0",
        "type": "mqtt out",
        "z": "db3f86b9b5554758",
        "name": "heartbeat",
        "topic": "devices/sunny/heartbeat",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "47b12596f39b9eb8",
        "x": 440,
        "y": 480,
        "wires": []
    },
    {
        "id": "f3cb7dcdae0abc98",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.151.1",
        "port": "8883",
        "tls": "ad608835603db99b",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7c21cdd37769f825",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.151.1",
        "port": "8883",
        "tls": "acb34eaf6a5ee7e1",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d9e12a3558e15ca7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.151.1",
        "port": "8883",
        "tls": "565b77223a05cca1",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "47b12596f39b9eb8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.151.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ad608835603db99b",
        "type": "tls-config",
        "name": "",
        "cert": "/etc/mosquitto/certs/sunny.pem",
        "key": "/etc/mosquitto/certs/sunny-key.pem",
        "ca": "/etc/mosquitto/certs/MQTTS.pem",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "sunny",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "acb34eaf6a5ee7e1",
        "type": "tls-config",
        "name": "",
        "cert": "/etc/mosquitto/certs/sunny.pem",
        "key": "/etc/mosquitto/certs/sunny-key.pem",
        "ca": "/etc/mosquitto/certs/MQTTS.pem",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "sunny",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "565b77223a05cca1",
        "type": "tls-config",
        "name": "",
        "cert": "/etc/mosquitto/certs/sunny.pem",
        "key": "/etc/mosquitto/certs/sunny-key.pem",
        "ca": "/etc/mosquitto/certs/MQTTS.pem",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "sunny",
        "verifyservercert": true,
        "alpnprotocol": ""
    }
]